In [1]:
import pandas as pd
import numpy as np

## Data Preprocessing

In [2]:
data = pd.read_csv("latest_trade.csv")
trades_df = pd.DataFrame(data)
trades_df

       Unnamed: 0  token_ids block_timestamp     price_usd
0               0      70956      2022-11-08   1950.038094
1               1      76980      2022-11-08   1950.038094
2               2      85206      2022-11-08   1950.038094
3               3      89755      2022-11-08   1950.038094
4               4      98695      2022-11-08   2337.089059
...           ...        ...             ...           ...
45348       45348      45647      2022-05-01  26489.635414
45349       45349      45712      2022-05-01  32770.682987
45350       45350      46370      2022-05-01  38232.463484
45351       45351      45713      2022-05-01  40963.353733
45352       45352      46464      2022-05-01  27281.593586

[45353 rows x 4 columns]

In [3]:
nft_df_1 = pd.read_csv("preprocessed_dataset/ntf_df1.csv")
nft_df_2 = pd.read_csv("preprocessed_dataset/ntf_df2.csv")
nft_df_3 = pd.read_csv("preprocessed_dataset/ntf_df3.csv")
nft_df_4 = pd.read_csv("preprocessed_dataset/ntf_df4.csv")
nft_df_5 = pd.read_csv("preprocessed_dataset/ntf_df5.csv")
nft_df = pd.concat([nft_df_1, nft_df_2, nft_df_3, nft_df_4, nft_df_5])

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (24) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
nft_df

,token_id,token_address,amount,owner_of,token_hash,block_number_minted,block_number,transfer_index,contract_type,name,...,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier
0,0,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xf7801b8115f3fe46ac55f8c0fdb5243726bdb66a,e64f9898044a4a1111e2eda769adcd96,14692463.0,14692463.0,"[14692463, 125, 165, 0]",ERC721,Otherdeed,...,Moldium,1.0,First Trip,0,Biogenic Swamp,1,Lumileaf,3.0,NaN,NaN
1,1,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x46efbaedc92067e6d60e84ed6395099723252496,8350fb9c2b0adea96bf929d1255e6fcf,14694414.0,14694414.0,"[14694414, 43, 76, 0]",ERC721,Otherdeed,...,Abyssia,3.0,NaN,1,Biogenic Swamp,2,NaN,NaN,Brimstone,3.0
2,2,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xc5c7b46843014b1591e9af24de797156cde67f08,44f52b4884b50788e198fea18ada4d94,14694565.0,14694565.0,"[14694565, 191, 196, 0]",ERC721,Otherdeed,...,Lumileaf,2.0,First Trip,2,Biogenic Swamp,3,Runa,1.0,Luster,1.0
3,3,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x03546b22bc80b3e6b64c4445963d981250267a68,bcb9b0d100b4d1f9f23223ac9402227e,14694416.0,14694416.0,"[14694416, 134, 241, 0]",ERC721,Otherdeed,...,NaN,NaN,First Trip,3,Biogenic Swamp,2,Whisper,3.0,NaN,NaN
4,4,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x33569c101562e1faf5b24581057e5cee4c8288d7,fbeb786f4e1935adf2da5d097ab68fb1,14690047.0,14690047.0,"[14690047, 67, 114, 0]",ERC721,Otherdeed,...,Moldium,3.0,NaN,4,Biogenic Swamp,3,NaN,NaN,Lunarian,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19934,99995,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x4b294dac43aa2af57fb29df51fc64a61343901db,0d37969a9a71cdcd13457a4e8817badc,14689597.0,14694995.0,"[14694995, 64, 102, 0]",ERC721,Otherdeed,...,NaN,NaN,First Trip,99995,Cosmic Dream,1,Runa,2.0,Gloomia,1.0
19935,99996,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x0359a50c85b6d0ad57a5b1f375f35f59334963ec,7dd3b3c3e0e2e9ff5d412fe85d2ad7d9,14689597.0,15128464.0,"[15128464, 135, 146, 0]",ERC721,Otherdeed,...,NaN,NaN,NaN,99996,Cosmic Dream,1,Lunarian,3.0,Steppesalt,2.0
19936,99997,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xbf9adbe0fa9638081c450cbd5d2f219db1bad562,e08e52f2b3681863f1175afb4377ee3e,14689597.0,14689597.0,"[14689597, 37, 123, 0]",ERC721,Otherdeed,...,Lumileaf,1.0,NaN,99997,Cosmic Dream,1,Runa,3.0,Bonestone,1.0
19937,99998,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x0075601db47c244cf3a3cda72f64a0e3fe12dd12,7ae423f06e0db599a063df28c9de2cfd,14689597.0,14689919.0,"[14689919, 323, 248, 0]",ERC721,Otherdeed,...,NaN,NaN,NaN,99998,Cosmic Dream,1,NaN,NaN,Lunarian,3.0
19938,99999,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x97a97445090044357ebcae34e08d3dd7f1e44bdc,000024d59062ef2e61bd1662ee7ffcbc,14689597.0,14696090.0,"[14696090, 208, 251, 0]",ERC721,Otherdeed,...,Oblivion,1.0,First Trip,99999,Cosmic Dream,1,NaN,NaN,NaN,NaN

In [5]:
trades_df = trades_df[["token_ids","block_timestamp","price_usd"]]
trades_df

       token_ids block_timestamp     price_usd
0          70956      2022-11-08   1950.038094
1          76980      2022-11-08   1950.038094
2          85206      2022-11-08   1950.038094
3          89755      2022-11-08   1950.038094
4          98695      2022-11-08   2337.089059
...          ...             ...           ...
45348      45647      2022-05-01  26489.635414
45349      45712      2022-05-01  32770.682987
45350      46370      2022-05-01  38232.463484
45351      45713      2022-05-01  40963.353733
45352      46464      2022-05-01  27281.593586

[45353 rows x 3 columns]

In [6]:
nft_df=nft_df.rename(columns={"token_id":"token_ids"})
nft_df

,token_ids,token_address,amount,owner_of,token_hash,block_number_minted,block_number,transfer_index,contract_type,name,...,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier
0,0,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xf7801b8115f3fe46ac55f8c0fdb5243726bdb66a,e64f9898044a4a1111e2eda769adcd96,14692463.0,14692463.0,"[14692463, 125, 165, 0]",ERC721,Otherdeed,...,Moldium,1.0,First Trip,0,Biogenic Swamp,1,Lumileaf,3.0,NaN,NaN
1,1,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x46efbaedc92067e6d60e84ed6395099723252496,8350fb9c2b0adea96bf929d1255e6fcf,14694414.0,14694414.0,"[14694414, 43, 76, 0]",ERC721,Otherdeed,...,Abyssia,3.0,NaN,1,Biogenic Swamp,2,NaN,NaN,Brimstone,3.0
2,2,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xc5c7b46843014b1591e9af24de797156cde67f08,44f52b4884b50788e198fea18ada4d94,14694565.0,14694565.0,"[14694565, 191, 196, 0]",ERC721,Otherdeed,...,Lumileaf,2.0,First Trip,2,Biogenic Swamp,3,Runa,1.0,Luster,1.0
3,3,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x03546b22bc80b3e6b64c4445963d981250267a68,bcb9b0d100b4d1f9f23223ac9402227e,14694416.0,14694416.0,"[14694416, 134, 241, 0]",ERC721,Otherdeed,...,NaN,NaN,First Trip,3,Biogenic Swamp,2,Whisper,3.0,NaN,NaN
4,4,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x33569c101562e1faf5b24581057e5cee4c8288d7,fbeb786f4e1935adf2da5d097ab68fb1,14690047.0,14690047.0,"[14690047, 67, 114, 0]",ERC721,Otherdeed,...,Moldium,3.0,NaN,4,Biogenic Swamp,3,NaN,NaN,Lunarian,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19934,99995,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x4b294dac43aa2af57fb29df51fc64a61343901db,0d37969a9a71cdcd13457a4e8817badc,14689597.0,14694995.0,"[14694995, 64, 102, 0]",ERC721,Otherdeed,...,NaN,NaN,First Trip,99995,Cosmic Dream,1,Runa,2.0,Gloomia,1.0
19935,99996,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x0359a50c85b6d0ad57a5b1f375f35f59334963ec,7dd3b3c3e0e2e9ff5d412fe85d2ad7d9,14689597.0,15128464.0,"[15128464, 135, 146, 0]",ERC721,Otherdeed,...,NaN,NaN,NaN,99996,Cosmic Dream,1,Lunarian,3.0,Steppesalt,2.0
19936,99997,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xbf9adbe0fa9638081c450cbd5d2f219db1bad562,e08e52f2b3681863f1175afb4377ee3e,14689597.0,14689597.0,"[14689597, 37, 123, 0]",ERC721,Otherdeed,...,Lumileaf,1.0,NaN,99997,Cosmic Dream,1,Runa,3.0,Bonestone,1.0
19937,99998,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x0075601db47c244cf3a3cda72f64a0e3fe12dd12,7ae423f06e0db599a063df28c9de2cfd,14689597.0,14689919.0,"[14689919, 323, 248, 0]",ERC721,Otherdeed,...,NaN,NaN,NaN,99998,Cosmic Dream,1,NaN,NaN,Lunarian,3.0
19938,99999,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x97a97445090044357ebcae34e08d3dd7f1e44bdc,000024d59062ef2e61bd1662ee7ffcbc,14689597.0,14696090.0,"[14696090, 208, 251, 0]",ERC721,Otherdeed,...,Oblivion,1.0,First Trip,99999,Cosmic Dream,1,NaN,NaN,NaN,NaN

In [7]:
nft_df = nft_df[['token_ids', 'Artifact', 'Category',
       'Eastern Resource', 'Eastern Resource Tier', 'Environment',
       'Environment Tier', 'Koda', 'Northern Resource',
       'Northern Resource Tier', 'Obelisk Piece', 'Plot', 'Sediment',
       'Sediment Tier', 'Southern Resource', 'Southern Resource Tier',
       'Western Resource', 'Western Resource Tier']]

In [8]:
df = nft_df.merge(trades_df, on='token_ids', how='left')
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd
0,0,NaN,Spirit,Whisper,3.0,Steppes,4,9068.0,Moldium,1.0,First Trip,0,Biogenic Swamp,1,Lumileaf,3.0,NaN,NaN,NaN,NaN
1,1,NaN,Volcanic,NaN,NaN,Obsidian,1,NaN,Abyssia,3.0,NaN,1,Biogenic Swamp,2,NaN,NaN,Brimstone,3.0,NaN,NaN
2,2,NaN,Spirit,Bonestone,2.0,Sands,1,NaN,Lumileaf,2.0,First Trip,2,Biogenic Swamp,3,Runa,1.0,Luster,1.0,NaN,NaN
3,3,NaN,Harsh,Spikeweed,3.0,Splinter,4,NaN,NaN,NaN,First Trip,3,Biogenic Swamp,2,Whisper,3.0,NaN,NaN,NaN,NaN
4,4,Forged Pickaxe,Decay,Lunarian,1.0,Ruins,1,NaN,Moldium,3.0,NaN,4,Biogenic Swamp,3,NaN,NaN,Lunarian,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114185,99996,NaN,Harsh,NaN,NaN,Splinter,1,NaN,NaN,NaN,NaN,99996,Cosmic Dream,1,Lunarian,3.0,Steppesalt,2.0,2022-07-07,3561.591446
114186,99996,NaN,Harsh,NaN,NaN,Splinter,1,NaN,NaN,NaN,NaN,99996,Cosmic Dream,1,Lunarian,3.0,Steppesalt,2.0,2022-05-01,28141.824015
114187,99997,NaN,Psychedelic,Psychosilk,1.0,Mallow,3,NaN,Lumileaf,1.0,NaN,99997,Cosmic Dream,1,Runa,3.0,Bonestone,1.0,NaN,NaN
114188,99998,NaN,Psychedelic,Spikeweed,1.0,Sludge,2,NaN,NaN,NaN,NaN,99998,Cosmic Dream,1,NaN,NaN,Lunarian,3.0,2022-05-01,19116.231742
114189,99999,Rugged Hammer,Mineral,NaN,NaN,Biolume,4,NaN,Oblivion,1.0,First Trip,99999,Cosmic Dream,1,NaN,NaN,NaN,NaN,2022-05-02,22620.911972

In [9]:
from sklearn import preprocessing

In [10]:
le = preprocessing.LabelEncoder()

In [11]:
df["token_ids"]=le.fit_transform(df["token_ids"])

In [12]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd
0,0,NaN,Spirit,Whisper,3.0,Steppes,4,9068.0,Moldium,1.0,First Trip,0,Biogenic Swamp,1,Lumileaf,3.0,NaN,NaN,NaN,NaN
1,1,NaN,Volcanic,NaN,NaN,Obsidian,1,NaN,Abyssia,3.0,NaN,1,Biogenic Swamp,2,NaN,NaN,Brimstone,3.0,NaN,NaN
2,2,NaN,Spirit,Bonestone,2.0,Sands,1,NaN,Lumileaf,2.0,First Trip,2,Biogenic Swamp,3,Runa,1.0,Luster,1.0,NaN,NaN
3,3,NaN,Harsh,Spikeweed,3.0,Splinter,4,NaN,NaN,NaN,First Trip,3,Biogenic Swamp,2,Whisper,3.0,NaN,NaN,NaN,NaN
4,4,Forged Pickaxe,Decay,Lunarian,1.0,Ruins,1,NaN,Moldium,3.0,NaN,4,Biogenic Swamp,3,NaN,NaN,Lunarian,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114185,99935,NaN,Harsh,NaN,NaN,Splinter,1,NaN,NaN,NaN,NaN,99996,Cosmic Dream,1,Lunarian,3.0,Steppesalt,2.0,2022-07-07,3561.591446
114186,99935,NaN,Harsh,NaN,NaN,Splinter,1,NaN,NaN,NaN,NaN,99996,Cosmic Dream,1,Lunarian,3.0,Steppesalt,2.0,2022-05-01,28141.824015
114187,99936,NaN,Psychedelic,Psychosilk,1.0,Mallow,3,NaN,Lumileaf,1.0,NaN,99997,Cosmic Dream,1,Runa,3.0,Bonestone,1.0,NaN,NaN
114188,99937,NaN,Psychedelic,Spikeweed,1.0,Sludge,2,NaN,NaN,NaN,NaN,99998,Cosmic Dream,1,NaN,NaN,Lunarian,3.0,2022-05-01,19116.231742
114189,99938,Rugged Hammer,Mineral,NaN,NaN,Biolume,4,NaN,Oblivion,1.0,First Trip,99999,Cosmic Dream,1,NaN,NaN,NaN,NaN,2022-05-02,22620.911972

In [13]:
df["Artifact"]=le.fit_transform(df["Artifact"])

In [14]:
df["Category"]=le.fit_transform(df["Category"])
df["Eastern Resource"]=le.fit_transform(df["Eastern Resource"])
df["Environment"]=le.fit_transform(df["Environment"])
df["Koda"]=le.fit_transform(df["Koda"])
df["Northern Resource"]=le.fit_transform(df["Northern Resource"])
df["Obelisk Piece"]=le.fit_transform(df["Obelisk Piece"])
df["Sediment"]=le.fit_transform(df["Sediment"])
df["Southern Resource"]=le.fit_transform(df["Southern Resource"])
df["Western Resource"]=le.fit_transform(df["Western Resource"])

In [15]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd
0,0,74,6,73,3.0,24,4,9060,36,1.0,0,0,0,1,29,3.0,74,NaN,NaN,NaN
1,1,74,7,74,NaN,15,1,9992,0,3.0,1,1,0,2,74,NaN,4,3.0,NaN,NaN
2,2,74,6,3,2.0,18,1,9992,29,2.0,0,2,0,3,55,1.0,32,1.0,NaN,NaN
3,3,74,3,62,3.0,23,4,9992,74,NaN,0,3,0,2,73,3.0,74,NaN,NaN,NaN
4,4,22,1,31,1.0,17,1,9992,36,3.0,1,4,0,3,74,NaN,31,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114185,99935,74,3,74,NaN,23,1,9992,74,NaN,1,99996,2,1,31,3.0,65,2.0,2022-07-07,3561.591446
114186,99935,74,3,74,NaN,23,1,9992,74,NaN,1,99996,2,1,31,3.0,65,2.0,2022-05-01,28141.824015
114187,99936,74,5,51,1.0,11,3,9992,29,1.0,1,99997,2,1,55,3.0,3,1.0,NaN,NaN
114188,99937,74,5,62,1.0,21,2,9992,74,NaN,1,99998,2,1,74,NaN,31,3.0,2022-05-01,19116.231742
114189,99938,54,4,74,NaN,1,4,9992,42,1.0,0,99999,2,1,74,NaN,74,NaN,2022-05-02,22620.911972

In [16]:
df["block_timestamp"]=df["block_timestamp"].fillna("2022-10-18")
df=df.fillna(0.0)

In [17]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd
0,0,74,6,73,3.0,24,4,9060,36,1.0,0,0,0,1,29,3.0,74,0.0,2022-10-18,0.000000
1,1,74,7,74,0.0,15,1,9992,0,3.0,1,1,0,2,74,0.0,4,3.0,2022-10-18,0.000000
2,2,74,6,3,2.0,18,1,9992,29,2.0,0,2,0,3,55,1.0,32,1.0,2022-10-18,0.000000
3,3,74,3,62,3.0,23,4,9992,74,0.0,0,3,0,2,73,3.0,74,0.0,2022-10-18,0.000000
4,4,22,1,31,1.0,17,1,9992,36,3.0,1,4,0,3,74,0.0,31,1.0,2022-10-18,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114185,99935,74,3,74,0.0,23,1,9992,74,0.0,1,99996,2,1,31,3.0,65,2.0,2022-07-07,3561.591446
114186,99935,74,3,74,0.0,23,1,9992,74,0.0,1,99996,2,1,31,3.0,65,2.0,2022-05-01,28141.824015
114187,99936,74,5,51,1.0,11,3,9992,29,1.0,1,99997,2,1,55,3.0,3,1.0,2022-10-18,0.000000
114188,99937,74,5,62,1.0,21,2,9992,74,0.0,1,99998,2,1,74,0.0,31,3.0,2022-05-01,19116.231742
114189,99938,54,4,74,0.0,1,4,9992,42,1.0,0,99999,2,1,74,0.0,74,0.0,2022-05-02,22620.911972

In [18]:
df["Eastern Resource Tier"]=le.fit_transform(df["Eastern Resource Tier"])
df["Environment Tier"]=le.fit_transform(df["Environment Tier"])
df["Northern Resource Tier"]=le.fit_transform(df["Northern Resource Tier"])
df["Sediment Tier"]=le.fit_transform(df["Sediment Tier"])
df["Southern Resource Tier"]=le.fit_transform(df["Southern Resource Tier"])
df["Western Resource Tier"]=le.fit_transform(df["Western Resource Tier"])

In [19]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd
0,0,74,6,73,3,24,3,9060,36,1,0,0,0,0,29,3,74,0,2022-10-18,0.000000
1,1,74,7,74,0,15,0,9992,0,3,1,1,0,1,74,0,4,3,2022-10-18,0.000000
2,2,74,6,3,2,18,0,9992,29,2,0,2,0,2,55,1,32,1,2022-10-18,0.000000
3,3,74,3,62,3,23,3,9992,74,0,0,3,0,1,73,3,74,0,2022-10-18,0.000000
4,4,22,1,31,1,17,0,9992,36,3,1,4,0,2,74,0,31,1,2022-10-18,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114185,99935,74,3,74,0,23,0,9992,74,0,1,99996,2,0,31,3,65,2,2022-07-07,3561.591446
114186,99935,74,3,74,0,23,0,9992,74,0,1,99996,2,0,31,3,65,2,2022-05-01,28141.824015
114187,99936,74,5,51,1,11,2,9992,29,1,1,99997,2,0,55,3,3,1,2022-10-18,0.000000
114188,99937,74,5,62,1,21,1,9992,74,0,1,99998,2,0,74,0,31,3,2022-05-01,19116.231742
114189,99938,54,4,74,0,1,3,9992,42,1,0,99999,2,0,74,0,74,0,2022-05-02,22620.911972

In [20]:
temp=max(df["Koda"])
df["koda_or_not"]=[1 if i!=temp else 0 for i in df["Koda"]]

In [21]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,...,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd,koda_or_not
0,0,74,6,73,3,24,3,9060,36,1,...,0,0,0,29,3,74,0,2022-10-18,0.000000,1
1,1,74,7,74,0,15,0,9992,0,3,...,1,0,1,74,0,4,3,2022-10-18,0.000000,0
2,2,74,6,3,2,18,0,9992,29,2,...,2,0,2,55,1,32,1,2022-10-18,0.000000,0
3,3,74,3,62,3,23,3,9992,74,0,...,3,0,1,73,3,74,0,2022-10-18,0.000000,0
4,4,22,1,31,1,17,0,9992,36,3,...,4,0,2,74,0,31,1,2022-10-18,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114185,99935,74,3,74,0,23,0,9992,74,0,...,99996,2,0,31,3,65,2,2022-07-07,3561.591446,0
114186,99935,74,3,74,0,23,0,9992,74,0,...,99996,2,0,31,3,65,2,2022-05-01,28141.824015,0
114187,99936,74,5,51,1,11,2,9992,29,1,...,99997,2,0,55,3,3,1,2022-10-18,0.000000,0
114188,99937,74,5,62,1,21,1,9992,74,0,...,99998,2,0,74,0,31,3,2022-05-01,19116.231742,0
114189,99938,54,4,74,0,1,3,9992,42,1,...,99999,2,0,74,0,74,0,2022-05-02,22620.911972,0

In [22]:
from datetime import datetime

In [23]:
df["block_timestamp"]=[datetime.strptime(i,"%Y-%m-%d").timestamp() for i in df["block_timestamp"]]

In [24]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,...,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd,koda_or_not
0,0,74,6,73,3,24,3,9060,36,1,...,0,0,0,29,3,74,0,1.666076e+09,0.000000,1
1,1,74,7,74,0,15,0,9992,0,3,...,1,0,1,74,0,4,3,1.666076e+09,0.000000,0
2,2,74,6,3,2,18,0,9992,29,2,...,2,0,2,55,1,32,1,1.666076e+09,0.000000,0
3,3,74,3,62,3,23,3,9992,74,0,...,3,0,1,73,3,74,0,1.666076e+09,0.000000,0
4,4,22,1,31,1,17,0,9992,36,3,...,4,0,2,74,0,31,1,1.666076e+09,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114185,99935,74,3,74,0,23,0,9992,74,0,...,99996,2,0,31,3,65,2,1.657177e+09,3561.591446,0
114186,99935,74,3,74,0,23,0,9992,74,0,...,99996,2,0,31,3,65,2,1.651388e+09,28141.824015,0
114187,99936,74,5,51,1,11,2,9992,29,1,...,99997,2,0,55,3,3,1,1.666076e+09,0.000000,0
114188,99937,74,5,62,1,21,1,9992,74,0,...,99998,2,0,74,0,31,3,1.651388e+09,19116.231742,0
114189,99938,54,4,74,0,1,3,9992,42,1,...,99999,2,0,74,0,74,0,1.651475e+09,22620.911972,0

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
ss=StandardScaler()

In [27]:
df["Plot"]=ss.fit_transform(np.array(df["Plot"]).reshape(-1, 1))

In [28]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,...,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd,koda_or_not
0,0,74,6,73,3,24,3,9060,36,1,...,-1.792425,0,0,29,3,74,0,1.666076e+09,0.000000,1
1,1,74,7,74,0,15,0,9992,0,3,...,-1.792390,0,1,74,0,4,3,1.666076e+09,0.000000,0
2,2,74,6,3,2,18,0,9992,29,2,...,-1.792355,0,2,55,1,32,1,1.666076e+09,0.000000,0
3,3,74,3,62,3,23,3,9992,74,0,...,-1.792321,0,1,73,3,74,0,1.666076e+09,0.000000,0
4,4,22,1,31,1,17,0,9992,36,3,...,-1.792286,0,2,74,0,31,1,1.666076e+09,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114185,99935,74,3,74,0,23,0,9992,74,0,...,1.678635,2,0,31,3,65,2,1.657177e+09,3561.591446,0
114186,99935,74,3,74,0,23,0,9992,74,0,...,1.678635,2,0,31,3,65,2,1.651388e+09,28141.824015,0
114187,99936,74,5,51,1,11,2,9992,29,1,...,1.678670,2,0,55,3,3,1,1.666076e+09,0.000000,0
114188,99937,74,5,62,1,21,1,9992,74,0,...,1.678704,2,0,74,0,31,3,1.651388e+09,19116.231742,0
114189,99938,54,4,74,0,1,3,9992,42,1,...,1.678739,2,0,74,0,74,0,1.651475e+09,22620.911972,0

In [29]:
df["block_timestamp"]=ss.fit_transform(np.array(df["block_timestamp"]).reshape(-1, 1))

In [30]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,...,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd,koda_or_not
0,0,74,6,73,3,24,3,9060,36,1,...,-1.792425,0,0,29,3,74,0,0.731978,0.000000,1
1,1,74,7,74,0,15,0,9992,0,3,...,-1.792390,0,1,74,0,4,3,0.731978,0.000000,0
2,2,74,6,3,2,18,0,9992,29,2,...,-1.792355,0,2,55,1,32,1,0.731978,0.000000,0
3,3,74,3,62,3,23,3,9992,74,0,...,-1.792321,0,1,73,3,74,0,0.731978,0.000000,0
4,4,22,1,31,1,17,0,9992,36,3,...,-1.792286,0,2,74,0,31,1,0.731978,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114185,99935,74,3,74,0,23,0,9992,74,0,...,1.678635,2,0,31,3,65,2,-0.647441,3561.591446,0
114186,99935,74,3,74,0,23,0,9992,74,0,...,1.678635,2,0,31,3,65,2,-1.544732,28141.824015,0
114187,99936,74,5,51,1,11,2,9992,29,1,...,1.678670,2,0,55,3,3,1,0.731978,0.000000,0
114188,99937,74,5,62,1,21,1,9992,74,0,...,1.678704,2,0,74,0,31,3,-1.544732,19116.231742,0
114189,99938,54,4,74,0,1,3,9992,42,1,...,1.678739,2,0,74,0,74,0,-1.531340,22620.911972,0

In [31]:
df_test=df[df["price_usd"]==0]
df_test=df_test.drop(columns=['price_usd'])

In [32]:
df_test

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,koda_or_not
0,0,74,6,73,3,24,3,9060,36,1,0,-1.792425,0,0,29,3,74,0,0.731978,1
1,1,74,7,74,0,15,0,9992,0,3,1,-1.792390,0,1,74,0,4,3,0.731978,0
2,2,74,6,3,2,18,0,9992,29,2,0,-1.792355,0,2,55,1,32,1,0.731978,0
3,3,74,3,62,3,23,3,9992,74,0,0,-1.792321,0,1,73,3,74,0,0.731978,0
4,4,22,1,31,1,17,0,9992,36,3,1,-1.792286,0,2,74,0,31,1,0.731978,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114175,99927,18,1,50,2,17,2,9992,42,1,0,1.678357,2,2,47,1,31,1,0.731978,0
114176,99928,0,3,74,0,8,3,9992,74,0,0,1.678392,2,1,74,0,27,1,0.731978,0
114180,99931,17,1,51,1,16,2,9992,54,1,0,1.678496,2,2,29,3,51,2,0.731978,0
114183,99934,54,5,74,0,19,3,1554,74,0,0,1.678600,2,0,55,2,24,1,0.731978,1
114187,99936,74,5,51,1,11,2,9992,29,1,1,1.678670,2,0,55,3,3,1,0.731978,0

In [33]:
df_train=df[df["price_usd"]!=0]

In [34]:
df_train

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,...,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd,koda_or_not
8,8,74,2,42,2,14,0,9992,74,0,...,-1.792147,0,2,74,0,25,3,-1.544732,661063.871658,0
9,9,74,1,39,2,26,1,9992,51,2,...,-1.792112,0,0,74,0,74,0,-1.531340,848284.198934,0
10,10,74,1,74,0,17,0,9992,8,1,...,-1.792078,0,2,3,1,42,2,-1.531340,706903.499112,0
12,12,74,1,74,0,16,2,9992,74,0,...,-1.792008,0,1,74,0,74,0,0.196281,455201.191705,0
16,16,74,3,73,3,3,2,9992,55,3,...,-1.791869,0,1,74,0,74,0,0.196281,407886.372496,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114184,99935,74,3,74,0,23,0,9992,74,0,...,1.678635,2,0,31,3,65,2,-0.580479,3892.762727,0
114185,99935,74,3,74,0,23,0,9992,74,0,...,1.678635,2,0,31,3,65,2,-0.647441,3561.591446,0
114186,99935,74,3,74,0,23,0,9992,74,0,...,1.678635,2,0,31,3,65,2,-1.544732,28141.824015,0
114188,99937,74,5,62,1,21,1,9992,74,0,...,1.678704,2,0,74,0,31,3,-1.544732,19116.231742,0
114189,99938,54,4,74,0,1,3,9992,42,1,...,1.678739,2,0,74,0,74,0,-1.531340,22620.911972,0

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X=df_train.drop(columns=["price_usd","token_ids"])
y=df_train["price_usd"]
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.33, random_state=42)

## Machine Learning Algorithms

## Gradient Boosting XGBoost

In [37]:
import xgboost
from sklearn.model_selection import GridSearchCV

In [38]:
from sklearn.metrics import mean_absolute_error

In [39]:
model = xgboost.XGBRegressor(n_estimators=500, max_depth=8, eta=0.05, subsample=0.9, colsample_bytree=0.9)

In [40]:
model.fit(X,y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.9, enable_categorical=False,
             eta=0.05, gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.0500000007,
             max_delta_step=0, max_depth=8, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=500, n_jobs=8,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=0.9,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [41]:
model.score(X_train,y_train)

0.9104665234070423

In [42]:
model.score(X_valid,y_valid)

0.7380786189212689

In [43]:
mean_absolute_error(y_valid,model.predict(X_valid))

81300.70867172898

In [44]:
predict_precentage_diff=abs(y_valid-model.predict(X_valid))/y_valid*100

In [45]:
show_dic={}
show_dic["0-20% diff"]=0
show_dic["20-40% diff"]=0
show_dic["40-60% diff"]=0
show_dic["60-80% diff"]=0
show_dic["80-100% diff"]=0
show_dic["more than 100% diff"]=0

In [46]:
for i in np.array(predict_precentage_diff):
    if i >=0 and i<=20:
        show_dic["0-20% diff"]+=1
    elif i >=20 and i<=40:
        show_dic["20-40% diff"]+=1
    elif i >=40 and i<=60:
        show_dic["40-60% diff"]+=1
    elif i >=60 and i<=80:
        show_dic["60-80% diff"]+=1
    elif i >=80 and i<=100:
        show_dic["80-100% diff"]+=1
    else:
        show_dic["more than 100% diff"]+=1

In [47]:
show_dic

{'0-20% diff': 992,
 '20-40% diff': 975,
 '40-60% diff': 902,
 '60-80% diff': 948,
 '80-100% diff': 872,
 'more than 100% diff': 10256}

In [48]:
df_test

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,koda_or_not
0,0,74,6,73,3,24,3,9060,36,1,0,-1.792425,0,0,29,3,74,0,0.731978,1
1,1,74,7,74,0,15,0,9992,0,3,1,-1.792390,0,1,74,0,4,3,0.731978,0
2,2,74,6,3,2,18,0,9992,29,2,0,-1.792355,0,2,55,1,32,1,0.731978,0
3,3,74,3,62,3,23,3,9992,74,0,0,-1.792321,0,1,73,3,74,0,0.731978,0
4,4,22,1,31,1,17,0,9992,36,3,1,-1.792286,0,2,74,0,31,1,0.731978,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114175,99927,18,1,50,2,17,2,9992,42,1,0,1.678357,2,2,47,1,31,1,0.731978,0
114176,99928,0,3,74,0,8,3,9992,74,0,0,1.678392,2,1,74,0,27,1,0.731978,0
114180,99931,17,1,51,1,16,2,9992,54,1,0,1.678496,2,2,29,3,51,2,0.731978,0
114183,99934,54,5,74,0,19,3,1554,74,0,0,1.678600,2,0,55,2,24,1,0.731978,1
114187,99936,74,5,51,1,11,2,9992,29,1,1,1.678670,2,0,55,3,3,1,0.731978,0

In [49]:
df_train.to_csv("old.csv")

In [50]:
df=df.groupby("token_ids").first()

In [51]:
df=df.drop(columns=["price_usd"])

In [52]:
df

,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,koda_or_not
token_ids,,,,,,,,,,,,,,,,,,,
0,74,6,73,3,24,3,9060,36,1,0,-1.792425,0,0,29,3,74,0,0.731978,1
1,74,7,74,0,15,0,9992,0,3,1,-1.792390,0,1,74,0,4,3,0.731978,0
2,74,6,3,2,18,0,9992,29,2,0,-1.792355,0,2,55,1,32,1,0.731978,0
3,74,3,62,3,23,3,9992,74,0,0,-1.792321,0,1,73,3,74,0,0.731978,0
4,22,1,31,1,17,0,9992,36,3,1,-1.792286,0,2,74,0,31,1,0.731978,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99934,54,5,74,0,19,3,1554,74,0,0,1.678600,2,0,55,2,24,1,0.731978,1
99935,74,3,74,0,23,0,9992,74,0,1,1.678635,2,0,31,3,65,2,-0.580479,0
99936,74,5,51,1,11,2,9992,29,1,1,1.678670,2,0,55,3,3,1,0.731978,0
99937,74,5,62,1,21,1,9992,74,0,1,1.678704,2,0,74,0,31,3,-1.544732,0
99938,54,4,74,0,1,3,9992,42,1,0,1.678739,2,0,74,0,74,0,-1.531340,0

In [53]:
df_temp=df
df_temp["block_timestamp"]="2022-11-05"
df_temp["block_timestamp"]=[datetime.strptime(i,"%Y-%m-%d").timestamp() for i in df_temp["block_timestamp"]]
df_temp["block_timestamp"]=ss.transform(np.array(df_temp["block_timestamp"]).reshape(-1, 1))
df_final=df_temp

In [54]:
df_temp

,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,koda_or_not
token_ids,,,,,,,,,,,,,,,,,,,
0,74,6,73,3,24,3,9060,36,1,0,-1.792425,0,0,29,3,74,0,0.973041,1
1,74,7,74,0,15,0,9992,0,3,1,-1.792390,0,1,74,0,4,3,0.973041,0
2,74,6,3,2,18,0,9992,29,2,0,-1.792355,0,2,55,1,32,1,0.973041,0
3,74,3,62,3,23,3,9992,74,0,0,-1.792321,0,1,73,3,74,0,0.973041,0
4,22,1,31,1,17,0,9992,36,3,1,-1.792286,0,2,74,0,31,1,0.973041,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99934,54,5,74,0,19,3,1554,74,0,0,1.678600,2,0,55,2,24,1,0.973041,1
99935,74,3,74,0,23,0,9992,74,0,1,1.678635,2,0,31,3,65,2,0.973041,0
99936,74,5,51,1,11,2,9992,29,1,1,1.678670,2,0,55,3,3,1,0.973041,0
99937,74,5,62,1,21,1,9992,74,0,1,1.678704,2,0,74,0,31,3,0.973041,0
99938,54,4,74,0,1,3,9992,42,1,0,1.678739,2,0,74,0,74,0,0.973041,0

In [55]:
df_train=df_temp.reset_index(drop=True)
df_final["price"]=model.predict(df_train)
df_final

,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,koda_or_not,price
token_ids,,,,,,,,,,,,,,,,,,,,
0,74,6,73,3,24,3,9060,36,1,0,-1.792425,0,0,29,3,74,0,0.973041,1,1.795215e+07
1,74,7,74,0,15,0,9992,0,3,1,-1.792390,0,1,74,0,4,3,0.973041,0,-1.451004e+06
2,74,6,3,2,18,0,9992,29,2,0,-1.792355,0,2,55,1,32,1,0.973041,0,1.883212e+06
3,74,3,62,3,23,3,9992,74,0,0,-1.792321,0,1,73,3,74,0,0.973041,0,1.769334e+07
4,22,1,31,1,17,0,9992,36,3,1,-1.792286,0,2,74,0,31,1,0.973041,0,5.295580e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99934,54,5,74,0,19,3,1554,74,0,0,1.678600,2,0,55,2,24,1,0.973041,1,5.340190e+05
99935,74,3,74,0,23,0,9992,74,0,1,1.678635,2,0,31,3,65,2,0.973041,0,3.974008e+03
99936,74,5,51,1,11,2,9992,29,1,1,1.678670,2,0,55,3,3,1,0.973041,0,1.362789e+05
99937,74,5,62,1,21,1,9992,74,0,1,1.678704,2,0,74,0,31,3,0.973041,0,1.952432e+04
99938,54,4,74,0,1,3,9992,42,1,0,1.678739,2,0,74,0,74,0,0.973041,0,3.901830e+04

In [56]:
df_final[["price"]].to_csv("df_final.csv")