In [1]:
import pandas as pd
import numpy as np

## Data Preprocessing

In [2]:
data = pd.read_csv("preprocessed_dataset/new_trade_df.csv")
trades_df = pd.DataFrame(data)
trades_df

,transaction_hash,transaction_index,token_ids,seller_address,buyer_address,token_address,marketplace_address,price,price_token_address,block_timestamp,block_number,block_hash,price_usd
0,0xd7697254e0c81b5495d33eb97f6df0b7712bed9f7240...,30,23446,0x638b1350920333d23a7a7472c00aa5c38c278b90,0xc4bc1da519e0e159b8c31bfbece55295f42b0df9,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,2.00,NaN,2022-09-17,15549817,0x170e4dd80b70bed43cce9b7ed879a97c7bf51567c6cc...,2866.434466
1,0x79ce5fd00f68d7c01e968330b4fd1d18d4dab63da449...,354,11227,0xd1878576c6cb7003a8225ee62785532f3bef5a88,0xf98188ad7b9e0857d4371e779ddcc7a27452315d,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,1.95,NaN,2022-09-17,15549682,0xd413884112774db0e2f00f0e0f462bce96b2f539a3b3...,2794.773604
2,0xd68434292eeb51fbcaaa5a7f123677b3e6c1860fa245...,191,17507,0x129551cf72217561d02679c0ad7a9810d525b605,0x93071db50d028e62fcf5f571bb5357160252eb7f,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,2.60,NaN,2022-09-16,15549253,0xaf15117c21f957e4fbe4a03196e3bb1067e1ca3b73f0...,3827.013750
3,0x13f54f315829585f277dd8370b669cf537c21c071051...,173,77132,0x273d3c8c45487debc56bfdc6d2f8c2a1300a9f22,0xdac0410b2530886517d4d2096f0dad14f9e8b111,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,2.00,NaN,2022-09-16,15549123,0x2b3bc41ab2e505eb866269e1d15a3fa9070fb07f3790...,2943.856731
4,0xb1d1e3a952d904d6c1bf323538ec4c36d3cf3a0f3bb0...,127,54283,0xc2e8240cab4457acb669eafc94448a6c1d483f95,0xa437aa303cef291dea44801e80c192d254f559ad,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,1.75,NaN,2022-09-16,15548985,0x39ec75471d0c9a8e20b2054dcd21e0872bcf93933f70...,2575.874639
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36179,0x4d6800bc7247754b3f71324c7631ec7065bfcdae2188...,35,49495,0x484f2bfe6ea59d667fd5cb29ed259329180d0507,0x003c4209f5b9c18e926b4725d0c2c95c91e6a6c9,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.00,NaN,2022-05-01,14688939,0xafccfed5708df97338fa4c9d8f5c86191b2280f17fb2...,21847.121991
36180,0x18d5d225fa2164ec1b413f9e4771ef2ce2058c03c708...,19,51155,0x94f68749be6c2e1de2a7d2bb0cf6d1d93269f035,0x5021052790184abfe9a618c0578fead636879478,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.00,NaN,2022-05-01,14688939,0xafccfed5708df97338fa4c9d8f5c86191b2280f17fb2...,21847.121991
36181,0x1104e053a73a7ec5639a3cbafeab9a29933fe35f8c41...,41,45735,0xc1980a8cf3b17788e71e542e6eec73930cfa2910,0x697da3c2e359cc940e8ff63453f8e68e2ff5ff90,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.34,NaN,2022-05-01,14688938,0xd1435ddf526ccd2ea001a9ebfdc1dd45501bad9e3e37...,22775.624676
36182,0x9310dd9850a933182519bbc8dcc67635be78b0567ada...,30,50763,0x889e9a0a6378bdfd45c2999d2026f8d03cded448,0xdfdba601d5d6a17fb0017ecaa531b2b4ca3d2c5d,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.50,NaN,2022-05-01,14688938,0xd1435ddf526ccd2ea001a9ebfdc1dd45501bad9e3e37...,23212.567116
36183,0xea3424e625db10490e416dfa92411111685061281069...,24,46903,0x0121bdcefb6affb590c90adf4cb7b0a88213d49a,0x995db04afea09f1051b46678ffd886cc3f00b2d6,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,9.00,NaN,2022-05-01,14688935,0xec413770169d810d0d5417cbc7bd35a395d514dd48fc...,24578.012240

In [3]:
nft_df_1 = pd.read_csv("preprocessed_dataset/ntf_df1.csv")
nft_df_2 = pd.read_csv("preprocessed_dataset/ntf_df2.csv")
nft_df_3 = pd.read_csv("preprocessed_dataset/ntf_df3.csv")
nft_df_4 = pd.read_csv("preprocessed_dataset/ntf_df4.csv")
nft_df_5 = pd.read_csv("preprocessed_dataset/ntf_df5.csv")
nft_df = pd.concat([nft_df_1, nft_df_2, nft_df_3, nft_df_4, nft_df_5])

/var/folders/8v/4q7qzlq16k98rhp5xh8t68_00000gn/T/ipykernel_15413/2649438829.py:2: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  nft_df_2 = pd.read_csv("preprocessed_dataset/ntf_df2.csv")

In [4]:
nft_df

,token_id,token_address,amount,owner_of,token_hash,block_number_minted,block_number,transfer_index,contract_type,name,...,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier
0,0,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xf7801b8115f3fe46ac55f8c0fdb5243726bdb66a,e64f9898044a4a1111e2eda769adcd96,14692463.0,14692463.0,"[14692463, 125, 165, 0]",ERC721,Otherdeed,...,Moldium,1.0,First Trip,0,Biogenic Swamp,1,Lumileaf,3.0,NaN,NaN
1,1,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x46efbaedc92067e6d60e84ed6395099723252496,8350fb9c2b0adea96bf929d1255e6fcf,14694414.0,14694414.0,"[14694414, 43, 76, 0]",ERC721,Otherdeed,...,Abyssia,3.0,NaN,1,Biogenic Swamp,2,NaN,NaN,Brimstone,3.0
2,2,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xc5c7b46843014b1591e9af24de797156cde67f08,44f52b4884b50788e198fea18ada4d94,14694565.0,14694565.0,"[14694565, 191, 196, 0]",ERC721,Otherdeed,...,Lumileaf,2.0,First Trip,2,Biogenic Swamp,3,Runa,1.0,Luster,1.0
3,3,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x03546b22bc80b3e6b64c4445963d981250267a68,bcb9b0d100b4d1f9f23223ac9402227e,14694416.0,14694416.0,"[14694416, 134, 241, 0]",ERC721,Otherdeed,...,NaN,NaN,First Trip,3,Biogenic Swamp,2,Whisper,3.0,NaN,NaN
4,4,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x33569c101562e1faf5b24581057e5cee4c8288d7,fbeb786f4e1935adf2da5d097ab68fb1,14690047.0,14690047.0,"[14690047, 67, 114, 0]",ERC721,Otherdeed,...,Moldium,3.0,NaN,4,Biogenic Swamp,3,NaN,NaN,Lunarian,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19934,99995,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x4b294dac43aa2af57fb29df51fc64a61343901db,0d37969a9a71cdcd13457a4e8817badc,14689597.0,14694995.0,"[14694995, 64, 102, 0]",ERC721,Otherdeed,...,NaN,NaN,First Trip,99995,Cosmic Dream,1,Runa,2.0,Gloomia,1.0
19935,99996,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x0359a50c85b6d0ad57a5b1f375f35f59334963ec,7dd3b3c3e0e2e9ff5d412fe85d2ad7d9,14689597.0,15128464.0,"[15128464, 135, 146, 0]",ERC721,Otherdeed,...,NaN,NaN,NaN,99996,Cosmic Dream,1,Lunarian,3.0,Steppesalt,2.0
19936,99997,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xbf9adbe0fa9638081c450cbd5d2f219db1bad562,e08e52f2b3681863f1175afb4377ee3e,14689597.0,14689597.0,"[14689597, 37, 123, 0]",ERC721,Otherdeed,...,Lumileaf,1.0,NaN,99997,Cosmic Dream,1,Runa,3.0,Bonestone,1.0
19937,99998,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x0075601db47c244cf3a3cda72f64a0e3fe12dd12,7ae423f06e0db599a063df28c9de2cfd,14689597.0,14689919.0,"[14689919, 323, 248, 0]",ERC721,Otherdeed,...,NaN,NaN,NaN,99998,Cosmic Dream,1,NaN,NaN,Lunarian,3.0
19938,99999,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x97a97445090044357ebcae34e08d3dd7f1e44bdc,000024d59062ef2e61bd1662ee7ffcbc,14689597.0,14696090.0,"[14696090, 208, 251, 0]",ERC721,Otherdeed,...,Oblivion,1.0,First Trip,99999,Cosmic Dream,1,NaN,NaN,NaN,NaN

In [5]:
trades_df = trades_df[["token_ids","block_timestamp","price_usd"]]
trades_df

       token_ids block_timestamp     price_usd
0          23446      2022-09-17   2866.434466
1          11227      2022-09-17   2794.773604
2          17507      2022-09-16   3827.013750
3          77132      2022-09-16   2943.856731
4          54283      2022-09-16   2575.874639
...          ...             ...           ...
36179      49495      2022-05-01  21847.121991
36180      51155      2022-05-01  21847.121991
36181      45735      2022-05-01  22775.624676
36182      50763      2022-05-01  23212.567116
36183      46903      2022-05-01  24578.012240

[36184 rows x 3 columns]

In [6]:
nft_df=nft_df.rename(columns={"token_id":"token_ids"})
nft_df

,token_ids,token_address,amount,owner_of,token_hash,block_number_minted,block_number,transfer_index,contract_type,name,...,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier
0,0,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xf7801b8115f3fe46ac55f8c0fdb5243726bdb66a,e64f9898044a4a1111e2eda769adcd96,14692463.0,14692463.0,"[14692463, 125, 165, 0]",ERC721,Otherdeed,...,Moldium,1.0,First Trip,0,Biogenic Swamp,1,Lumileaf,3.0,NaN,NaN
1,1,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x46efbaedc92067e6d60e84ed6395099723252496,8350fb9c2b0adea96bf929d1255e6fcf,14694414.0,14694414.0,"[14694414, 43, 76, 0]",ERC721,Otherdeed,...,Abyssia,3.0,NaN,1,Biogenic Swamp,2,NaN,NaN,Brimstone,3.0
2,2,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xc5c7b46843014b1591e9af24de797156cde67f08,44f52b4884b50788e198fea18ada4d94,14694565.0,14694565.0,"[14694565, 191, 196, 0]",ERC721,Otherdeed,...,Lumileaf,2.0,First Trip,2,Biogenic Swamp,3,Runa,1.0,Luster,1.0
3,3,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x03546b22bc80b3e6b64c4445963d981250267a68,bcb9b0d100b4d1f9f23223ac9402227e,14694416.0,14694416.0,"[14694416, 134, 241, 0]",ERC721,Otherdeed,...,NaN,NaN,First Trip,3,Biogenic Swamp,2,Whisper,3.0,NaN,NaN
4,4,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x33569c101562e1faf5b24581057e5cee4c8288d7,fbeb786f4e1935adf2da5d097ab68fb1,14690047.0,14690047.0,"[14690047, 67, 114, 0]",ERC721,Otherdeed,...,Moldium,3.0,NaN,4,Biogenic Swamp,3,NaN,NaN,Lunarian,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19934,99995,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x4b294dac43aa2af57fb29df51fc64a61343901db,0d37969a9a71cdcd13457a4e8817badc,14689597.0,14694995.0,"[14694995, 64, 102, 0]",ERC721,Otherdeed,...,NaN,NaN,First Trip,99995,Cosmic Dream,1,Runa,2.0,Gloomia,1.0
19935,99996,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x0359a50c85b6d0ad57a5b1f375f35f59334963ec,7dd3b3c3e0e2e9ff5d412fe85d2ad7d9,14689597.0,15128464.0,"[15128464, 135, 146, 0]",ERC721,Otherdeed,...,NaN,NaN,NaN,99996,Cosmic Dream,1,Lunarian,3.0,Steppesalt,2.0
19936,99997,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xbf9adbe0fa9638081c450cbd5d2f219db1bad562,e08e52f2b3681863f1175afb4377ee3e,14689597.0,14689597.0,"[14689597, 37, 123, 0]",ERC721,Otherdeed,...,Lumileaf,1.0,NaN,99997,Cosmic Dream,1,Runa,3.0,Bonestone,1.0
19937,99998,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x0075601db47c244cf3a3cda72f64a0e3fe12dd12,7ae423f06e0db599a063df28c9de2cfd,14689597.0,14689919.0,"[14689919, 323, 248, 0]",ERC721,Otherdeed,...,NaN,NaN,NaN,99998,Cosmic Dream,1,NaN,NaN,Lunarian,3.0
19938,99999,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x97a97445090044357ebcae34e08d3dd7f1e44bdc,000024d59062ef2e61bd1662ee7ffcbc,14689597.0,14696090.0,"[14696090, 208, 251, 0]",ERC721,Otherdeed,...,Oblivion,1.0,First Trip,99999,Cosmic Dream,1,NaN,NaN,NaN,NaN

In [7]:
nft_df = nft_df[['token_ids', 'Artifact', 'Category',
       'Eastern Resource', 'Eastern Resource Tier', 'Environment',
       'Environment Tier', 'Koda', 'Northern Resource',
       'Northern Resource Tier', 'Obelisk Piece', 'Plot', 'Sediment',
       'Sediment Tier', 'Southern Resource', 'Southern Resource Tier',
       'Western Resource', 'Western Resource Tier']]

In [8]:
df = nft_df.merge(trades_df, on='token_ids', how='left')
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd
0,0,NaN,Spirit,Whisper,3.0,Steppes,4,9068.0,Moldium,1.0,First Trip,0,Biogenic Swamp,1,Lumileaf,3.0,NaN,NaN,NaN,NaN
1,1,NaN,Volcanic,NaN,NaN,Obsidian,1,NaN,Abyssia,3.0,NaN,1,Biogenic Swamp,2,NaN,NaN,Brimstone,3.0,NaN,NaN
2,2,NaN,Spirit,Bonestone,2.0,Sands,1,NaN,Lumileaf,2.0,First Trip,2,Biogenic Swamp,3,Runa,1.0,Luster,1.0,NaN,NaN
3,3,NaN,Harsh,Spikeweed,3.0,Splinter,4,NaN,NaN,NaN,First Trip,3,Biogenic Swamp,2,Whisper,3.0,NaN,NaN,NaN,NaN
4,4,Forged Pickaxe,Decay,Lunarian,1.0,Ruins,1,NaN,Moldium,3.0,NaN,4,Biogenic Swamp,3,NaN,NaN,Lunarian,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108944,99996,NaN,Harsh,NaN,NaN,Splinter,1,NaN,NaN,NaN,NaN,99996,Cosmic Dream,1,Lunarian,3.0,Steppesalt,2.0,2022-07-07,3561.591446
108945,99996,NaN,Harsh,NaN,NaN,Splinter,1,NaN,NaN,NaN,NaN,99996,Cosmic Dream,1,Lunarian,3.0,Steppesalt,2.0,2022-05-01,28141.824015
108946,99997,NaN,Psychedelic,Psychosilk,1.0,Mallow,3,NaN,Lumileaf,1.0,NaN,99997,Cosmic Dream,1,Runa,3.0,Bonestone,1.0,NaN,NaN
108947,99998,NaN,Psychedelic,Spikeweed,1.0,Sludge,2,NaN,NaN,NaN,NaN,99998,Cosmic Dream,1,NaN,NaN,Lunarian,3.0,2022-05-01,19116.231742
108948,99999,Rugged Hammer,Mineral,NaN,NaN,Biolume,4,NaN,Oblivion,1.0,First Trip,99999,Cosmic Dream,1,NaN,NaN,NaN,NaN,2022-05-02,22620.911972

In [9]:
from sklearn import preprocessing

In [10]:
le = preprocessing.LabelEncoder()

In [11]:
df["token_ids"]=le.fit_transform(df["token_ids"])

In [12]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd
0,0,NaN,Spirit,Whisper,3.0,Steppes,4,9068.0,Moldium,1.0,First Trip,0,Biogenic Swamp,1,Lumileaf,3.0,NaN,NaN,NaN,NaN
1,1,NaN,Volcanic,NaN,NaN,Obsidian,1,NaN,Abyssia,3.0,NaN,1,Biogenic Swamp,2,NaN,NaN,Brimstone,3.0,NaN,NaN
2,2,NaN,Spirit,Bonestone,2.0,Sands,1,NaN,Lumileaf,2.0,First Trip,2,Biogenic Swamp,3,Runa,1.0,Luster,1.0,NaN,NaN
3,3,NaN,Harsh,Spikeweed,3.0,Splinter,4,NaN,NaN,NaN,First Trip,3,Biogenic Swamp,2,Whisper,3.0,NaN,NaN,NaN,NaN
4,4,Forged Pickaxe,Decay,Lunarian,1.0,Ruins,1,NaN,Moldium,3.0,NaN,4,Biogenic Swamp,3,NaN,NaN,Lunarian,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108944,99935,NaN,Harsh,NaN,NaN,Splinter,1,NaN,NaN,NaN,NaN,99996,Cosmic Dream,1,Lunarian,3.0,Steppesalt,2.0,2022-07-07,3561.591446
108945,99935,NaN,Harsh,NaN,NaN,Splinter,1,NaN,NaN,NaN,NaN,99996,Cosmic Dream,1,Lunarian,3.0,Steppesalt,2.0,2022-05-01,28141.824015
108946,99936,NaN,Psychedelic,Psychosilk,1.0,Mallow,3,NaN,Lumileaf,1.0,NaN,99997,Cosmic Dream,1,Runa,3.0,Bonestone,1.0,NaN,NaN
108947,99937,NaN,Psychedelic,Spikeweed,1.0,Sludge,2,NaN,NaN,NaN,NaN,99998,Cosmic Dream,1,NaN,NaN,Lunarian,3.0,2022-05-01,19116.231742
108948,99938,Rugged Hammer,Mineral,NaN,NaN,Biolume,4,NaN,Oblivion,1.0,First Trip,99999,Cosmic Dream,1,NaN,NaN,NaN,NaN,2022-05-02,22620.911972

In [13]:
df["Artifact"]=le.fit_transform(df["Artifact"])

In [14]:
df["Category"]=le.fit_transform(df["Category"])
df["Eastern Resource"]=le.fit_transform(df["Eastern Resource"])
df["Environment"]=le.fit_transform(df["Environment"])
df["Koda"]=le.fit_transform(df["Koda"])
df["Northern Resource"]=le.fit_transform(df["Northern Resource"])
df["Obelisk Piece"]=le.fit_transform(df["Obelisk Piece"])
df["Sediment"]=le.fit_transform(df["Sediment"])
df["Southern Resource"]=le.fit_transform(df["Southern Resource"])
df["Western Resource"]=le.fit_transform(df["Western Resource"])

In [15]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd
0,0,74,6,73,3.0,24,4,9060,36,1.0,0,0,0,1,29,3.0,74,NaN,NaN,NaN
1,1,74,7,74,NaN,15,1,9992,0,3.0,1,1,0,2,74,NaN,4,3.0,NaN,NaN
2,2,74,6,3,2.0,18,1,9992,29,2.0,0,2,0,3,55,1.0,32,1.0,NaN,NaN
3,3,74,3,62,3.0,23,4,9992,74,NaN,0,3,0,2,73,3.0,74,NaN,NaN,NaN
4,4,22,1,31,1.0,17,1,9992,36,3.0,1,4,0,3,74,NaN,31,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108944,99935,74,3,74,NaN,23,1,9992,74,NaN,1,99996,2,1,31,3.0,65,2.0,2022-07-07,3561.591446
108945,99935,74,3,74,NaN,23,1,9992,74,NaN,1,99996,2,1,31,3.0,65,2.0,2022-05-01,28141.824015
108946,99936,74,5,51,1.0,11,3,9992,29,1.0,1,99997,2,1,55,3.0,3,1.0,NaN,NaN
108947,99937,74,5,62,1.0,21,2,9992,74,NaN,1,99998,2,1,74,NaN,31,3.0,2022-05-01,19116.231742
108948,99938,54,4,74,NaN,1,4,9992,42,1.0,0,99999,2,1,74,NaN,74,NaN,2022-05-02,22620.911972

In [16]:
df["block_timestamp"]=df["block_timestamp"].fillna("2022-10-18")
df=df.fillna(0.0)

In [17]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd
0,0,74,6,73,3.0,24,4,9060,36,1.0,0,0,0,1,29,3.0,74,0.0,2022-10-18,0.000000
1,1,74,7,74,0.0,15,1,9992,0,3.0,1,1,0,2,74,0.0,4,3.0,2022-10-18,0.000000
2,2,74,6,3,2.0,18,1,9992,29,2.0,0,2,0,3,55,1.0,32,1.0,2022-10-18,0.000000
3,3,74,3,62,3.0,23,4,9992,74,0.0,0,3,0,2,73,3.0,74,0.0,2022-10-18,0.000000
4,4,22,1,31,1.0,17,1,9992,36,3.0,1,4,0,3,74,0.0,31,1.0,2022-10-18,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108944,99935,74,3,74,0.0,23,1,9992,74,0.0,1,99996,2,1,31,3.0,65,2.0,2022-07-07,3561.591446
108945,99935,74,3,74,0.0,23,1,9992,74,0.0,1,99996,2,1,31,3.0,65,2.0,2022-05-01,28141.824015
108946,99936,74,5,51,1.0,11,3,9992,29,1.0,1,99997,2,1,55,3.0,3,1.0,2022-10-18,0.000000
108947,99937,74,5,62,1.0,21,2,9992,74,0.0,1,99998,2,1,74,0.0,31,3.0,2022-05-01,19116.231742
108948,99938,54,4,74,0.0,1,4,9992,42,1.0,0,99999,2,1,74,0.0,74,0.0,2022-05-02,22620.911972

In [18]:
df["Eastern Resource Tier"]=le.fit_transform(df["Eastern Resource Tier"])
df["Environment Tier"]=le.fit_transform(df["Environment Tier"])
df["Northern Resource Tier"]=le.fit_transform(df["Northern Resource Tier"])
df["Sediment Tier"]=le.fit_transform(df["Sediment Tier"])
df["Southern Resource Tier"]=le.fit_transform(df["Southern Resource Tier"])
df["Western Resource Tier"]=le.fit_transform(df["Western Resource Tier"])

In [19]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd
0,0,74,6,73,3,24,3,9060,36,1,0,0,0,0,29,3,74,0,2022-10-18,0.000000
1,1,74,7,74,0,15,0,9992,0,3,1,1,0,1,74,0,4,3,2022-10-18,0.000000
2,2,74,6,3,2,18,0,9992,29,2,0,2,0,2,55,1,32,1,2022-10-18,0.000000
3,3,74,3,62,3,23,3,9992,74,0,0,3,0,1,73,3,74,0,2022-10-18,0.000000
4,4,22,1,31,1,17,0,9992,36,3,1,4,0,2,74,0,31,1,2022-10-18,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108944,99935,74,3,74,0,23,0,9992,74,0,1,99996,2,0,31,3,65,2,2022-07-07,3561.591446
108945,99935,74,3,74,0,23,0,9992,74,0,1,99996,2,0,31,3,65,2,2022-05-01,28141.824015
108946,99936,74,5,51,1,11,2,9992,29,1,1,99997,2,0,55,3,3,1,2022-10-18,0.000000
108947,99937,74,5,62,1,21,1,9992,74,0,1,99998,2,0,74,0,31,3,2022-05-01,19116.231742
108948,99938,54,4,74,0,1,3,9992,42,1,0,99999,2,0,74,0,74,0,2022-05-02,22620.911972

In [20]:
temp=max(df["Koda"])
df["koda_or_not"]=[1 if i!=temp else 0 for i in df["Koda"]]

In [21]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,...,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd,koda_or_not
0,0,74,6,73,3,24,3,9060,36,1,...,0,0,0,29,3,74,0,2022-10-18,0.000000,1
1,1,74,7,74,0,15,0,9992,0,3,...,1,0,1,74,0,4,3,2022-10-18,0.000000,0
2,2,74,6,3,2,18,0,9992,29,2,...,2,0,2,55,1,32,1,2022-10-18,0.000000,0
3,3,74,3,62,3,23,3,9992,74,0,...,3,0,1,73,3,74,0,2022-10-18,0.000000,0
4,4,22,1,31,1,17,0,9992,36,3,...,4,0,2,74,0,31,1,2022-10-18,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108944,99935,74,3,74,0,23,0,9992,74,0,...,99996,2,0,31,3,65,2,2022-07-07,3561.591446,0
108945,99935,74,3,74,0,23,0,9992,74,0,...,99996,2,0,31,3,65,2,2022-05-01,28141.824015,0
108946,99936,74,5,51,1,11,2,9992,29,1,...,99997,2,0,55,3,3,1,2022-10-18,0.000000,0
108947,99937,74,5,62,1,21,1,9992,74,0,...,99998,2,0,74,0,31,3,2022-05-01,19116.231742,0
108948,99938,54,4,74,0,1,3,9992,42,1,...,99999,2,0,74,0,74,0,2022-05-02,22620.911972,0

In [22]:
from datetime import datetime

In [23]:
df["block_timestamp"]=[datetime.strptime(i,"%Y-%m-%d").timestamp() for i in df["block_timestamp"]]

In [24]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,...,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd,koda_or_not
0,0,74,6,73,3,24,3,9060,36,1,...,0,0,0,29,3,74,0,1.666076e+09,0.000000,1
1,1,74,7,74,0,15,0,9992,0,3,...,1,0,1,74,0,4,3,1.666076e+09,0.000000,0
2,2,74,6,3,2,18,0,9992,29,2,...,2,0,2,55,1,32,1,1.666076e+09,0.000000,0
3,3,74,3,62,3,23,3,9992,74,0,...,3,0,1,73,3,74,0,1.666076e+09,0.000000,0
4,4,22,1,31,1,17,0,9992,36,3,...,4,0,2,74,0,31,1,1.666076e+09,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108944,99935,74,3,74,0,23,0,9992,74,0,...,99996,2,0,31,3,65,2,1.657177e+09,3561.591446,0
108945,99935,74,3,74,0,23,0,9992,74,0,...,99996,2,0,31,3,65,2,1.651388e+09,28141.824015,0
108946,99936,74,5,51,1,11,2,9992,29,1,...,99997,2,0,55,3,3,1,1.666076e+09,0.000000,0
108947,99937,74,5,62,1,21,1,9992,74,0,...,99998,2,0,74,0,31,3,1.651388e+09,19116.231742,0
108948,99938,54,4,74,0,1,3,9992,42,1,...,99999,2,0,74,0,74,0,1.651475e+09,22620.911972,0

In [25]:
np.var(df.price_usd)**0.5

19802.13722033179

In [26]:
from sklearn.preprocessing import StandardScaler

In [27]:
ss=StandardScaler()

In [28]:
df["Plot"]=ss.fit_transform(np.array(df["Plot"]).reshape(-1, 1))

In [29]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,...,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd,koda_or_not
0,0,74,6,73,3,24,3,9060,36,1,...,-1.779116,0,0,29,3,74,0,1.666076e+09,0.000000,1
1,1,74,7,74,0,15,0,9992,0,3,...,-1.779081,0,1,74,0,4,3,1.666076e+09,0.000000,0
2,2,74,6,3,2,18,0,9992,29,2,...,-1.779046,0,2,55,1,32,1,1.666076e+09,0.000000,0
3,3,74,3,62,3,23,3,9992,74,0,...,-1.779011,0,1,73,3,74,0,1.666076e+09,0.000000,0
4,4,22,1,31,1,17,0,9992,36,3,...,-1.778977,0,2,74,0,31,1,1.666076e+09,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108944,99935,74,3,74,0,23,0,9992,74,0,...,1.692183,2,0,31,3,65,2,1.657177e+09,3561.591446,0
108945,99935,74,3,74,0,23,0,9992,74,0,...,1.692183,2,0,31,3,65,2,1.651388e+09,28141.824015,0
108946,99936,74,5,51,1,11,2,9992,29,1,...,1.692218,2,0,55,3,3,1,1.666076e+09,0.000000,0
108947,99937,74,5,62,1,21,1,9992,74,0,...,1.692253,2,0,74,0,31,3,1.651388e+09,19116.231742,0
108948,99938,54,4,74,0,1,3,9992,42,1,...,1.692288,2,0,74,0,74,0,1.651475e+09,22620.911972,0

In [30]:
df["block_timestamp"]=ss.fit_transform(np.array(df["block_timestamp"]).reshape(-1, 1))

In [31]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,...,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd,koda_or_not
0,0,74,6,73,3,24,3,9060,36,1,...,-1.779116,0,0,29,3,74,0,0.680838,0.000000,1
1,1,74,7,74,0,15,0,9992,0,3,...,-1.779081,0,1,74,0,4,3,0.680838,0.000000,0
2,2,74,6,3,2,18,0,9992,29,2,...,-1.779046,0,2,55,1,32,1,0.680838,0.000000,0
3,3,74,3,62,3,23,3,9992,74,0,...,-1.779011,0,1,73,3,74,0,0.680838,0.000000,0
4,4,22,1,31,1,17,0,9992,36,3,...,-1.778977,0,2,74,0,31,1,0.680838,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108944,99935,74,3,74,0,23,0,9992,74,0,...,1.692183,2,0,31,3,65,2,-0.714402,3561.591446,0
108945,99935,74,3,74,0,23,0,9992,74,0,...,1.692183,2,0,31,3,65,2,-1.621985,28141.824015,0
108946,99936,74,5,51,1,11,2,9992,29,1,...,1.692218,2,0,55,3,3,1,0.680838,0.000000,0
108947,99937,74,5,62,1,21,1,9992,74,0,...,1.692253,2,0,74,0,31,3,-1.621985,19116.231742,0
108948,99938,54,4,74,0,1,3,9992,42,1,...,1.692288,2,0,74,0,74,0,-1.608439,22620.911972,0

In [32]:
df_test=df[df["price_usd"]==0]
df_test=df_test.drop(columns=["token_ids",'price_usd'])

In [33]:
df_test

,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,koda_or_not
0,74,6,73,3,24,3,9060,36,1,0,-1.779116,0,0,29,3,74,0,0.680838,1
1,74,7,74,0,15,0,9992,0,3,1,-1.779081,0,1,74,0,4,3,0.680838,0
2,74,6,3,2,18,0,9992,29,2,0,-1.779046,0,2,55,1,32,1,0.680838,0
3,74,3,62,3,23,3,9992,74,0,0,-1.779011,0,1,73,3,74,0,0.680838,0
4,22,1,31,1,17,0,9992,36,3,1,-1.778977,0,2,74,0,31,1,0.680838,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108938,74,3,74,0,28,2,9992,74,0,1,1.692010,2,0,47,1,74,0,0.680838,0
108939,17,1,51,1,16,2,9992,54,1,0,1.692045,2,2,29,3,51,2,0.680838,0
108940,74,1,74,0,26,0,9992,74,0,1,1.692079,2,2,74,0,74,0,0.680838,0
108942,54,5,74,0,19,3,1554,74,0,0,1.692149,2,0,55,2,24,1,0.680838,1
108946,74,5,51,1,11,2,9992,29,1,1,1.692218,2,0,55,3,3,1,0.680838,0

In [34]:
df_train=df[df["price_usd"]!=0]
df_train=df_train.drop(columns=["token_ids"])

In [35]:
df_train

,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd,koda_or_not
9,74,1,39,2,26,1,9992,51,2,1,-1.778803,0,0,74,0,74,0,-1.608439,848284.198934,0
10,74,1,74,0,17,0,9992,8,1,1,-1.778768,0,2,3,1,42,2,-1.608439,706903.499112,0
12,74,1,74,0,16,2,9992,74,0,1,-1.778699,0,1,74,0,74,0,0.138997,455201.191705,0
16,74,3,73,3,3,2,9992,55,3,0,-1.778560,0,1,74,0,74,0,0.138997,407886.372496,0
17,74,1,74,0,2,1,9992,74,0,0,-1.778525,0,0,3,3,74,0,0.138997,228416.368598,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108943,74,3,74,0,23,0,9992,74,0,1,1.692183,2,0,31,3,65,2,-0.646672,3892.762727,0
108944,74,3,74,0,23,0,9992,74,0,1,1.692183,2,0,31,3,65,2,-0.714402,3561.591446,0
108945,74,3,74,0,23,0,9992,74,0,1,1.692183,2,0,31,3,65,2,-1.621985,28141.824015,0
108947,74,5,62,1,21,1,9992,74,0,1,1.692253,2,0,74,0,31,3,-1.621985,19116.231742,0
108948,54,4,74,0,1,3,9992,42,1,0,1.692288,2,0,74,0,74,0,-1.608439,22620.911972,0

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
X=df_train.drop(columns=["price_usd"])
y=df_train["price_usd"]
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.33, random_state=42)

## Machine Learning Algorithms

## Gradient Boosting XGBoost

In [38]:
import xgboost
from sklearn.model_selection import GridSearchCV

In [39]:
model = xgboost.XGBRegressor(n_estimators=1000, max_depth=7, eta=0.1, subsample=0.7, colsample_bytree=0.8)

In [40]:
model.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=0.8,
             early_stopping_rounds=None, enable_categorical=False, eta=0.1,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.100000001, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=7, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=1000,
             n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
             reg_alpha=0, ...)

In [41]:
y_predict=model.predict(X_valid)

In [42]:
from sklearn.metrics import mean_absolute_error

In [43]:
mean_absolute_error(y_valid, y_predict)

4178.351590953785

In [44]:
y_valid

61481      9344.517814
97931     49835.456036
105250    20618.221379
107494    12724.262984
46892     11132.385574
              ...
96799     19116.231742
26900     18901.657957
817       42414.209947
69916      6370.790427
62642     22666.389066
Name: price_usd, Length: 11935, dtype: float64

In [45]:
y_predict

array([11232.11  , 63173.387 , 20218.297 , ..., 51255.53  ,  7694.7627,
       18061.332 ], dtype=float32)

In [46]:
from sklearn.metrics import explained_variance_score
from sklearn.metrics import mean_squared_error

In [47]:
mean_squared_error(y_valid, y_predict)**0.5

13769.771543742901

In [48]:
explained_variance_score(y_valid, y_predict)

0.7653442176866397

In [49]:
model.score(X_train,y_train)

0.9834485537314905

In [50]:
model.score(X_valid,y_valid)

0.7652556613793814

In [51]:
X_valid

,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,koda_or_not
61481,74,7,74,0,15,1,9992,62,2,1,0.252717,3,0,31,2,74,0,-1.554255,0
97931,74,7,42,3,6,3,9373,49,3,0,1.356044,2,1,74,0,74,0,-1.378157,1
105250,74,5,74,0,11,0,9992,74,0,1,1.579674,2,1,47,2,74,0,-1.621985,0
107494,74,2,27,1,4,2,9992,3,2,1,1.647506,2,0,74,0,29,1,-1.608439,0
46892,20,1,74,0,16,2,9992,74,0,1,-0.192703,3,0,74,0,74,0,-1.581347,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96799,74,4,3,1,22,4,9992,74,0,1,1.320983,2,1,74,0,31,1,-1.621985,0
26900,55,3,29,1,28,1,9992,4,1,0,-0.881575,1,0,55,1,74,0,-1.513617,0
817,74,1,74,0,16,0,9992,74,0,1,-1.751552,0,2,32,1,74,0,-1.608439,0
69916,74,6,42,1,20,1,9992,31,3,0,0.503563,4,2,29,1,74,0,-1.459433,0
62642,74,3,74,0,28,2,9992,74,0,1,0.287987,3,2,43,3,74,0,-1.621985,0

In [52]:
show_df=X_valid.copy()

In [53]:
show_df["Price"]=y_valid
show_df["Predicted_Price"]=y_predict

In [54]:
show_df

,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,...,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,koda_or_not,Price,Predicted_Price
61481,74,7,74,0,15,1,9992,62,2,1,...,3,0,31,2,74,0,-1.554255,0,9344.517814,11232.110352
97931,74,7,42,3,6,3,9373,49,3,0,...,2,1,74,0,74,0,-1.378157,1,49835.456036,63173.386719
105250,74,5,74,0,11,0,9992,74,0,1,...,2,1,47,2,74,0,-1.621985,0,20618.221379,20218.296875
107494,74,2,27,1,4,2,9992,3,2,1,...,2,0,74,0,29,1,-1.608439,0,12724.262984,14280.162109
46892,20,1,74,0,16,2,9992,74,0,1,...,3,0,74,0,74,0,-1.581347,0,11132.385574,12578.953125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96799,74,4,3,1,22,4,9992,74,0,1,...,2,1,74,0,31,1,-1.621985,0,19116.231742,19500.064453
26900,55,3,29,1,28,1,9992,4,1,0,...,1,0,55,1,74,0,-1.513617,0,18901.657957,11140.968750
817,74,1,74,0,16,0,9992,74,0,1,...,0,2,32,1,74,0,-1.608439,0,42414.209947,51255.531250
69916,74,6,42,1,20,1,9992,31,3,0,...,4,2,29,1,74,0,-1.459433,0,6370.790427,7694.762695
62642,74,3,74,0,28,2,9992,74,0,1,...,3,2,43,3,74,0,-1.621985,0,22666.389066,18061.332031

In [55]:
show_df["predict_precentage_diff"]=abs(show_df["Predicted_Price"]-show_df["Price"])/show_df["Price"]*100

In [56]:
show_df

,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,...,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,koda_or_not,Price,Predicted_Price,predict_precentage_diff
61481,74,7,74,0,15,1,9992,62,2,1,...,0,31,2,74,0,-1.554255,0,9344.517814,11232.110352,20.199999
97931,74,7,42,3,6,3,9373,49,3,0,...,1,74,0,74,0,-1.378157,1,49835.456036,63173.386719,26.763938
105250,74,5,74,0,11,0,9992,74,0,1,...,1,47,2,74,0,-1.621985,0,20618.221379,20218.296875,1.939665
107494,74,2,27,1,4,2,9992,3,2,1,...,0,74,0,29,1,-1.608439,0,12724.262984,14280.162109,12.227813
46892,20,1,74,0,16,2,9992,74,0,1,...,0,74,0,74,0,-1.581347,0,11132.385574,12578.953125,12.994228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96799,74,4,3,1,22,4,9992,74,0,1,...,1,74,0,31,1,-1.621985,0,19116.231742,19500.064453,2.007889
26900,55,3,29,1,28,1,9992,4,1,0,...,0,55,1,74,0,-1.513617,0,18901.657957,11140.968750,41.058246
817,74,1,74,0,16,0,9992,74,0,1,...,2,32,1,74,0,-1.608439,0,42414.209947,51255.531250,20.845187
69916,74,6,42,1,20,1,9992,31,3,0,...,2,29,1,74,0,-1.459433,0,6370.790427,7694.762695,20.781915
62642,74,3,74,0,28,2,9992,74,0,1,...,2,43,3,74,0,-1.621985,0,22666.389066,18061.332031,20.316677

In [57]:
show_dic={}
show_dic["0-20% diff"]=0
show_dic["20-40% diff"]=0
show_dic["40-60% diff"]=0
show_dic["60-80% diff"]=0
show_dic["80-100% diff"]=0
show_dic["more than 100% diff"]=0

In [58]:
for i in np.array(show_df["predict_precentage_diff"]):
    if i >=0 and i<=20:
        show_dic["0-20% diff"]+=1
    elif i >=20 and i<=40:
        show_dic["20-40% diff"]+=1
    elif i >=40 and i<=60:
        show_dic["40-60% diff"]+=1
    elif i >=60 and i<=80:
        show_dic["60-80% diff"]+=1
    elif i >=80 and i<=100:
        show_dic["80-100% diff"]+=1
    else:
        show_dic["more than 100% diff"]+=1

In [59]:
show_dic

{'0-20% diff': 8942,
 '20-40% diff': 2006,
 '40-60% diff': 503,
 '60-80% diff': 183,
 '80-100% diff': 77,
 'more than 100% diff': 224}

In [60]:
show_dic["0-20% diff"]/len(show_df["predict_precentage_diff"])

0.7492249685798072

## ElasticNet Function

In [163]:
from sklearn import linear_model
clf = linear_model.ElasticNet(random_state=0)
clf.fit(X_train,y_train)

ElasticNet(random_state=0)

In [164]:
clf.score(X_train,y_train)

0.1990491433552286

In [165]:
clf.score(X_valid,y_valid)

0.22202370027484009

In [63]:
mean_absolute_error(y_valid, clf.predict(X_valid))

10083.695411971514

In [64]:
predict_precentage_diff=abs(y_valid-clf.predict(X_valid))/y_valid*100

In [65]:
show_dic={}
show_dic["0-20% diff"]=0
show_dic["20-40% diff"]=0
show_dic["40-60% diff"]=0
show_dic["60-80% diff"]=0
show_dic["80-100% diff"]=0
show_dic["more than 100% diff"]=0

In [66]:
for i in np.array(predict_precentage_diff):
    if i >=0 and i<=20:
        show_dic["0-20% diff"]+=1
    elif i >=20 and i<=40:
        show_dic["20-40% diff"]+=1
    elif i >=40 and i<=60:
        show_dic["40-60% diff"]+=1
    elif i >=60 and i<=80:
        show_dic["60-80% diff"]+=1
    elif i >=80 and i<=100:
        show_dic["80-100% diff"]+=1
    else:
        show_dic["more than 100% diff"]+=1

In [67]:
show_dic

{'0-20% diff': 3032,
 '20-40% diff': 2749,
 '40-60% diff': 1524,
 '60-80% diff': 858,
 '80-100% diff': 539,
 'more than 100% diff': 3233}

In [68]:
show_dic["0-20% diff"]/len(show_df["predict_precentage_diff"])

0.2540427314620863

## Random Forest

In [166]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(max_depth=2, random_state=0)
regr.fit(X_train,y_train)

RandomForestRegressor(max_depth=2, random_state=0)

In [168]:
regr.score(X_train,y_train)

0.5190728693576985

In [70]:
regr.score(X_valid,y_valid)

0.5102077974220549

In [71]:
mean_absolute_error(y_valid, regr.predict(X_valid))

9504.01874379066

In [72]:
predict_precentage_diff=abs(y_valid-regr.predict(X_valid))/y_valid*100

In [73]:
show_dic={}
show_dic["0-20% diff"]=0
show_dic["20-40% diff"]=0
show_dic["40-60% diff"]=0
show_dic["60-80% diff"]=0
show_dic["80-100% diff"]=0
show_dic["more than 100% diff"]=0

In [74]:
for i in np.array(predict_precentage_diff):
    if i >=0 and i<=20:
        show_dic["0-20% diff"]+=1
    elif i >=20 and i<=40:
        show_dic["20-40% diff"]+=1
    elif i >=40 and i<=60:
        show_dic["40-60% diff"]+=1
    elif i >=60 and i<=80:
        show_dic["60-80% diff"]+=1
    elif i >=80 and i<=100:
        show_dic["80-100% diff"]+=1
    else:
        show_dic["more than 100% diff"]+=1

In [75]:
show_dic

{'0-20% diff': 2975,
 '20-40% diff': 3749,
 '40-60% diff': 1073,
 '60-80% diff': 575,
 '80-100% diff': 393,
 'more than 100% diff': 3170}

In [76]:
show_dic["0-20% diff"]/len(show_df["predict_precentage_diff"])

0.24926686217008798

## Lasso Function

In [77]:
from sklearn import linear_model
clf = linear_model.Lasso(alpha=0.1)
clf.fit(X_train,y_train)

Lasso(alpha=0.1)

In [78]:
clf.predict(X_valid)

array([19306.10594669, 68586.01052786, 15594.26897213, ...,
       32661.79310163, 12567.33568842, 21146.96900997])

In [79]:
clf.score(X_train,y_train)

0.29464258347822436

In [80]:
clf.score(X_valid,y_valid)

0.31379271025667266

In [81]:
mean_absolute_error(y_valid, clf.predict(X_valid))

9229.273747732033

In [82]:
predict_precentage_diff=abs(y_valid-clf.predict(X_valid))/y_valid*100

In [83]:
show_dic={}
show_dic["0-20% diff"]=0
show_dic["20-40% diff"]=0
show_dic["40-60% diff"]=0
show_dic["60-80% diff"]=0
show_dic["80-100% diff"]=0
show_dic["more than 100% diff"]=0

In [84]:
for i in np.array(predict_precentage_diff):
    if i >=0 and i<=20:
        show_dic["0-20% diff"]+=1
    elif i >=20 and i<=40:
        show_dic["20-40% diff"]+=1
    elif i >=40 and i<=60:
        show_dic["40-60% diff"]+=1
    elif i >=60 and i<=80:
        show_dic["60-80% diff"]+=1
    elif i >=80 and i<=100:
        show_dic["80-100% diff"]+=1
    else:
        show_dic["more than 100% diff"]+=1

In [85]:
show_dic

{'0-20% diff': 3292,
 '20-40% diff': 2889,
 '40-60% diff': 1534,
 '60-80% diff': 909,
 '80-100% diff': 657,
 'more than 100% diff': 2654}

In [86]:
show_dic["0-20% diff"]/len(show_df["predict_precentage_diff"])

0.27582739840804354

## Linear SVM

In [169]:
from sklearn.svm import LinearSVR
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_regression
regr = make_pipeline(StandardScaler(),
                      LinearSVR(random_state=0, tol=1e-5))
regr.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('linearsvr', LinearSVR(random_state=0, tol=1e-05))])

In [170]:
regr.predict(X_valid)

array([11020.75545033, 17843.40668788, 10522.99882973, ...,
       11678.55699155,  9688.12711684, 11320.31828108])

In [171]:
regr.score(X_train,y_train)

0.04167626181814732

In [172]:
regr.score(X_valid,y_valid)

0.05466600688485035

In [90]:
mean_absolute_error(y_valid, regr.predict(X_valid))

9849.007049948856

In [91]:
predict_precentage_diff=abs(y_valid-regr.predict(X_valid))/y_valid*100

In [92]:
show_dic={}
show_dic["0-20% diff"]=0
show_dic["20-40% diff"]=0
show_dic["40-60% diff"]=0
show_dic["60-80% diff"]=0
show_dic["80-100% diff"]=0
show_dic["more than 100% diff"]=0

In [93]:
for i in np.array(predict_precentage_diff):
    if i >=0 and i<=20:
        show_dic["0-20% diff"]+=1
    elif i >=20 and i<=40:
        show_dic["20-40% diff"]+=1
    elif i >=40 and i<=60:
        show_dic["40-60% diff"]+=1
    elif i >=60 and i<=80:
        show_dic["60-80% diff"]+=1
    elif i >=80 and i<=100:
        show_dic["80-100% diff"]+=1
    else:
        show_dic["more than 100% diff"]+=1

In [94]:
show_dic

{'0-20% diff': 3299,
 '20-40% diff': 3122,
 '40-60% diff': 3333,
 '60-80% diff': 1490,
 '80-100% diff': 361,
 'more than 100% diff': 330}

In [95]:
show_dic["0-20% diff"]/len(show_df["predict_precentage_diff"])

0.2764139086719732

## SGD Regressor

In [96]:
import numpy as np
from sklearn.linear_model import SGDRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
reg = make_pipeline(StandardScaler(),
                     SGDRegressor(max_iter=1000, tol=1e-3))
reg.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('sgdregressor', SGDRegressor())])

In [97]:
reg.predict(X_valid)

array([17780.37328769, 69119.5423906 , 14328.31547398, ...,
       31878.84245233, 14243.88878716, 21864.12551931])

In [98]:
mean_absolute_error(y_valid, reg.predict(X_valid))

9540.180705026261

In [99]:
reg.score(X_train,y_train)

0.29025325640761146

In [100]:
reg.score(X_valid,y_valid)

0.30791930665617884

In [101]:
predict_precentage_diff=abs(y_valid-reg.predict(X_valid))/y_valid*100

In [102]:
show_dic={}
show_dic["0-20% diff"]=0
show_dic["20-40% diff"]=0
show_dic["40-60% diff"]=0
show_dic["60-80% diff"]=0
show_dic["80-100% diff"]=0
show_dic["more than 100% diff"]=0

In [103]:
for i in np.array(predict_precentage_diff):
    if i >=0 and i<=20:
        show_dic["0-20% diff"]+=1
    elif i >=20 and i<=40:
        show_dic["20-40% diff"]+=1
    elif i >=40 and i<=60:
        show_dic["40-60% diff"]+=1
    elif i >=60 and i<=80:
        show_dic["60-80% diff"]+=1
    elif i >=80 and i<=100:
        show_dic["80-100% diff"]+=1
    else:
        show_dic["more than 100% diff"]+=1

In [104]:
show_dic

{'0-20% diff': 3104,
 '20-40% diff': 2846,
 '40-60% diff': 1650,
 '60-80% diff': 967,
 '80-100% diff': 634,
 'more than 100% diff': 2734}

In [105]:
show_dic["0-20% diff"]/len(show_df["predict_precentage_diff"])

0.26007540846250526

## KNN

In [106]:
from sklearn.neighbors import KNeighborsRegressor
neigh = KNeighborsRegressor(n_neighbors=5)
neigh.fit(X_train, y_train)

KNeighborsRegressor()

In [107]:
neigh.predict(X_valid)

array([15136.99841184, 67368.50383079, 15943.15690297, ...,
       11626.11034344, 11255.48594003, 17348.02708876])

In [108]:
mean_absolute_error(y_valid, neigh.predict(X_valid))

10376.502992718013

In [109]:
neigh.score(X_train,y_train)

0.49664832596836783

In [110]:
neigh.score(X_valid,y_valid)

0.21013719275480836

In [111]:
predict_precentage_diff=abs(y_valid-neigh.predict(X_valid))/y_valid*100

In [112]:
show_dic={}
show_dic["0-20% diff"]=0
show_dic["20-40% diff"]=0
show_dic["40-60% diff"]=0
show_dic["60-80% diff"]=0
show_dic["80-100% diff"]=0
show_dic["more than 100% diff"]=0

In [113]:
for i in np.array(predict_precentage_diff):
    if i >=0 and i<=20:
        show_dic["0-20% diff"]+=1
    elif i >=20 and i<=40:
        show_dic["20-40% diff"]+=1
    elif i >=40 and i<=60:
        show_dic["40-60% diff"]+=1
    elif i >=60 and i<=80:
        show_dic["60-80% diff"]+=1
    elif i >=80 and i<=100:
        show_dic["80-100% diff"]+=1
    else:
        show_dic["more than 100% diff"]+=1

In [114]:
show_dic

{'0-20% diff': 2943,
 '20-40% diff': 2831,
 '40-60% diff': 2058,
 '60-80% diff': 930,
 '80-100% diff': 492,
 'more than 100% diff': 2681}

In [115]:
show_dic["0-20% diff"]/len(show_df["predict_precentage_diff"])

0.246585672392124

## PLSRegression

In [116]:
from sklearn.metrics import mean_absolute_error

In [117]:
from sklearn.cross_decomposition import PLSRegression
pls2 = PLSRegression(n_components=2)
pls2.fit(X_train, y_train)

PLSRegression()

In [118]:
pls2.predict(X_valid)

array([[18882.83278895],
       [46548.67803553],
       [16021.15079058],
       ...,
       [36136.85238289],
       [11363.72547328],
       [20976.51460955]])

In [119]:
mean_absolute_error(y_valid, pls2.predict(X_valid))

9393.467723478378

In [120]:
pls2.score(X_train,y_train)

0.2760623739128256

In [121]:
pls2.score(X_valid,y_valid)

0.29747153214635347

In [122]:
temp=list(pls2.predict(X_valid))

In [123]:
temp=np.array([x[0] for x in temp])

In [124]:
predict_precentage_diff=abs(y_valid-temp)/y_valid*100

In [125]:
show_dic={}
show_dic["0-20% diff"]=0
show_dic["20-40% diff"]=0
show_dic["40-60% diff"]=0
show_dic["60-80% diff"]=0
show_dic["80-100% diff"]=0
show_dic["more than 100% diff"]=0

In [126]:
for i in np.array(predict_precentage_diff):
    if i >=0 and i<=20:
        show_dic["0-20% diff"]+=1
    elif i >=20 and i<=40:
        show_dic["20-40% diff"]+=1
    elif i >=40 and i<=60:
        show_dic["40-60% diff"]+=1
    elif i >=60 and i<=80:
        show_dic["60-80% diff"]+=1
    elif i >=80 and i<=100:
        show_dic["80-100% diff"]+=1
    else:
        show_dic["more than 100% diff"]+=1

In [127]:
show_dic

{'0-20% diff': 3350,
 '20-40% diff': 2704,
 '40-60% diff': 1500,
 '60-80% diff': 910,
 '80-100% diff': 673,
 'more than 100% diff': 2798}

In [128]:
show_dic["0-20% diff"]/len(show_df["predict_precentage_diff"])

0.28068705488060325

## Neural Network

In [129]:
from sklearn.neural_network import MLPRegressor
regr = MLPRegressor(random_state=1, max_iter=500).fit(X_train, y_train)

/Users/dagong/opt/anaconda3/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(

In [130]:
regr.predict(X_valid)

array([16156.944751  , 38369.68407033, 10691.94473919, ...,
       29126.33920064, 10668.4975224 , 21741.76190681])

In [131]:
mean_absolute_error(y_valid, regr.predict(X_valid))

9478.779292438967

In [132]:
regr.score(X_train,y_train)

0.2527521383992769

In [133]:
regr.score(X_valid,y_valid)

0.27430092174104326

In [134]:
predict_precentage_diff=abs(y_valid-regr.predict(X_valid))/y_valid*100

In [135]:
show_dic={}
show_dic["0-20% diff"]=0
show_dic["20-40% diff"]=0
show_dic["40-60% diff"]=0
show_dic["60-80% diff"]=0
show_dic["80-100% diff"]=0
show_dic["more than 100% diff"]=0

In [136]:
for i in np.array(predict_precentage_diff):
    if i >=0 and i<=20:
        show_dic["0-20% diff"]+=1
    elif i >=20 and i<=40:
        show_dic["20-40% diff"]+=1
    elif i >=40 and i<=60:
        show_dic["40-60% diff"]+=1
    elif i >=60 and i<=80:
        show_dic["60-80% diff"]+=1
    elif i >=80 and i<=100:
        show_dic["80-100% diff"]+=1
    else:
        show_dic["more than 100% diff"]+=1

In [137]:
show_dic

{'0-20% diff': 3070,
 '20-40% diff': 3119,
 '40-60% diff': 2142,
 '60-80% diff': 1006,
 '80-100% diff': 591,
 'more than 100% diff': 2007}

In [138]:
show_dic["0-20% diff"]/len(show_df["predict_precentage_diff"])

0.2572266443234185

## XGBoost Hypertune

In [152]:
params = { 'max_depth': [8,12],
           'learning_rate': [0.05, 0.1],
           'n_estimators': [500, 1000],
           'colsample_bytree': [0.5, 0.8],
             'subsample':[0.7,0.8]}
xgbr = xgboost.XGBRegressor(seed = 20)
clf = GridSearchCV(estimator=xgbr, 
                   param_grid=params,
                   scoring='neg_mean_absolute_error', 
                   verbose=10,n_jobs=1)
clf.fit(X_train, y_train)
print("Best parameters:", clf.best_params_)
print("Lowest MAE: ", (-clf.best_score_)**(1/2.0))

Fitting 5 folds for each of 32 candidates, totalling 160 fits
[CV 1/5; 1/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.7
[CV 1/5; 1/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.7;, score=-4542.020 total time=   4.3s
[CV 2/5; 1/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.7
[CV 2/5; 1/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.7;, score=-4647.557 total time=   4.0s
[CV 3/5; 1/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.7
[CV 3/5; 1/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.7;, score=-4391.185 total time=   3.9s
[CV 4/5; 1/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.7
[CV 4/5; 1/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.7;, score=-4646.520 total time=   3.9s
[CV 5/5; 1/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.7
[CV 5/5; 1/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.7;, score=-4287.240 total time=   3.9s
[CV 1/5; 2/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.8
[CV 1/5; 2/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.8;, score=-4562.349 total time=   4.0s
[CV 2/5; 2/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.8
[CV 2/5; 2/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.8;, score=-4588.436 total time=   4.0s
[CV 3/5; 2/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.8
[CV 3/5; 2/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.8;, score=-4386.782 total time=   4.0s
[CV 4/5; 2/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.8
[CV 4/5; 2/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.8;, score=-4624.079 total time=   4.0s
[CV 5/5; 2/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.8
[CV 5/5; 2/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.8;, score=-4221.707 total time=   4.0s
[CV 1/5; 3/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.7
[CV 1/5; 3/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.7;, score=-4602.598 total time=   7.9s
[CV 2/5; 3/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.7
[CV 2/5; 3/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.7;, score=-4683.630 total time=   8.0s
[CV 3/5; 3/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.7
[CV 3/5; 3/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.7;, score=-4482.958 total time=   8.0s
[CV 4/5; 3/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.7
[CV 4/5; 3/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.7;, score=-4730.995 total time=   7.8s
[CV 5/5; 3/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.7
[CV 5/5; 3/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.7;, score=-4357.067 total time=   7.9s
[CV 1/5; 4/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.8
[CV 1/5; 4/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.8;, score=-4613.375 total time=   7.8s
[CV 2/5; 4/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.8
[CV 2/5; 4/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.8;, score=-4626.176 total time=   8.0s
[CV 3/5; 4/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.8
[CV 3/5; 4/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.8;, score=-4440.044 total time=   7.9s
[CV 4/5; 4/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.8
[CV 4/5; 4/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.8;, score=-4677.104 total time=   8.1s
[CV 5/5; 4/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.8
[CV 5/5; 4/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.8;, score=-4272.346 total time=   7.9s
[CV 1/5; 5/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.7
[CV 1/5; 5/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.7;, score=-4915.865 total time=   6.4s
[CV 2/5; 5/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.7
[CV 2/5; 5/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.7;, score=-5028.039 total time=   6.4s
[CV 3/5; 5/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.7
[CV 3/5; 5/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.7;, score=-4868.094 total time=   6.4s
[CV 4/5; 5/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.7
[CV 4/5; 5/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.7;, score=-5092.071 total time=   6.4s
[CV 5/5; 5/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.7
[CV 5/5; 5/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.7;, score=-4673.291 total time=   6.3s
[CV 1/5; 6/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.8
[CV 1/5; 6/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.8;, score=-4902.655 total time=   6.5s
[CV 2/5; 6/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.8
[CV 2/5; 6/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.8;, score=-5037.539 total time=   6.5s
[CV 3/5; 6/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.8
[CV 3/5; 6/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.8;, score=-4840.625 total time=   6.5s
[CV 4/5; 6/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.8
[CV 4/5; 6/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.8;, score=-5079.104 total time=   6.5s
[CV 5/5; 6/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.8
[CV 5/5; 6/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.8;, score=-4659.236 total time=   6.5s
[CV 1/5; 7/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.7
[CV 1/5; 7/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.7;, score=-4966.875 total time=  13.0s
[CV 2/5; 7/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.7
[CV 2/5; 7/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.7;, score=-5067.329 total time=  13.0s
[CV 3/5; 7/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.7

[CV 3/5; 7/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.7;, score=-4929.922 total time=  12.9s
[CV 4/5; 7/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.7
[CV 4/5; 7/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.7;, score=-5116.550 total time=  12.9s
[CV 5/5; 7/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.7
[CV 5/5; 7/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.7;, score=-4725.552 total time=  12.7s
[CV 1/5; 8/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.8
[CV 1/5; 8/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.8;, score=-4960.910 total time=  13.2s
[CV 2/5; 8/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.8
[CV 2/5; 8/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.8;, score=-5072.406 total time=  13.3s
[CV 3/5; 8/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.8
[CV 3/5; 8/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.8;, score=-4893.091 total time=  13.3s
[CV 4/5; 8/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.8
[CV 4/5; 8/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.8;, score=-5123.212 total time=  13.1s
[CV 5/5; 8/32] START colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.8
[CV 5/5; 8/32] END colsample_bytree=0.5, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.8;, score=-4717.171 total time=  13.1s
[CV 1/5; 9/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.7
[CV 1/5; 9/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.7;, score=-4681.570 total time=   4.0s
[CV 2/5; 9/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.7
[CV 2/5; 9/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.7;, score=-4782.893 total time=   4.0s
[CV 3/5; 9/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.7
[CV 3/5; 9/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.7;, score=-4691.711 total time=   3.9s
[CV 4/5; 9/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.7
[CV 4/5; 9/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.7;, score=-4820.580 total time=   3.9s
[CV 5/5; 9/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.7
[CV 5/5; 9/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.7;, score=-4436.476 total time=   3.9s
[CV 1/5; 10/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.8
[CV 1/5; 10/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.8;, score=-4659.493 total time=   4.0s
[CV 2/5; 10/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.8
[CV 2/5; 10/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.8;, score=-4770.315 total time=   4.0s
[CV 3/5; 10/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.8
[CV 3/5; 10/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.8;, score=-4574.844 total time=   4.0s
[CV 4/5; 10/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.8
[CV 4/5; 10/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.8;, score=-4752.980 total time=   3.9s
[CV 5/5; 10/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.8
[CV 5/5; 10/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.8;, score=-4389.901 total time=   4.0s
[CV 1/5; 11/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.7
[CV 1/5; 11/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.7;, score=-4748.393 total time=   7.9s
[CV 2/5; 11/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.7
[CV 2/5; 11/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.7;, score=-4859.082 total time=   8.0s
[CV 3/5; 11/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.7
[CV 3/5; 11/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.7;, score=-4826.797 total time=   7.9s
[CV 4/5; 11/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.7
[CV 4/5; 11/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.7;, score=-4920.942 total time=   8.0s
[CV 5/5; 11/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.7
[CV 5/5; 11/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.7;, score=-4507.371 total time=   7.9s
[CV 1/5; 12/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.8
[CV 1/5; 12/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.8;, score=-4738.479 total time=   8.0s
[CV 2/5; 12/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.8
[CV 2/5; 12/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.8;, score=-4834.784 total time=   8.1s
[CV 3/5; 12/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.8
[CV 3/5; 12/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.8;, score=-4704.684 total time=   8.0s
[CV 4/5; 12/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.8
[CV 4/5; 12/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.8;, score=-4845.916 total time=   8.0s
[CV 5/5; 12/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.8
[CV 5/5; 12/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.8;, score=-4459.404 total time=   7.9s
[CV 1/5; 13/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.7
[CV 1/5; 13/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.7;, score=-5145.376 total time=   6.5s
[CV 2/5; 13/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.7
[CV 2/5; 13/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.7;, score=-5267.001 total time=   6.5s
[CV 3/5; 13/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.7
[CV 3/5; 13/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.7;, score=-5103.820 total time=   6.3s
[CV 4/5; 13/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.7
[CV 4/5; 13/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.7;, score=-5330.506 total time=   6.4s
[CV 5/5; 13/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.7
[CV 5/5; 13/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.7;, score=-4916.338 total time=   8.9s
[CV 1/5; 14/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.8

[CV 1/5; 14/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.8;, score=-5075.872 total time=   7.3s
[CV 2/5; 14/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.8
[CV 2/5; 14/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.8;, score=-5198.933 total time=   6.6s
[CV 3/5; 14/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.8
[CV 3/5; 14/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.8;, score=-5175.284 total time=   6.6s
[CV 4/5; 14/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.8
[CV 4/5; 14/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.8;, score=-5335.189 total time=   6.5s
[CV 5/5; 14/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.8
[CV 5/5; 14/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.8;, score=-4814.649 total time=   7.1s
[CV 1/5; 15/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.7
[CV 1/5; 15/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.7;, score=-5233.347 total time=  12.9s
[CV 2/5; 15/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.7
[CV 2/5; 15/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.7;, score=-5380.891 total time=  13.0s
[CV 3/5; 15/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.7
[CV 3/5; 15/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.7;, score=-5256.897 total time=  12.9s
[CV 4/5; 15/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.7
[CV 4/5; 15/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.7;, score=-5390.387 total time=  13.1s
[CV 5/5; 15/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.7
[CV 5/5; 15/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.7;, score=-5020.740 total time=  12.9s
[CV 1/5; 16/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.8
[CV 1/5; 16/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.8;, score=-5182.803 total time=  13.2s
[CV 2/5; 16/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.8
[CV 2/5; 16/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.8;, score=-5283.801 total time=  14.2s
[CV 3/5; 16/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.8
[CV 3/5; 16/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.8;, score=-5281.039 total time=  13.4s
[CV 4/5; 16/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.8
[CV 4/5; 16/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.8;, score=-5428.363 total time=  13.1s
[CV 5/5; 16/32] START colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.8
[CV 5/5; 16/32] END colsample_bytree=0.5, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.8;, score=-4884.364 total time=  13.1s
[CV 1/5; 17/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.7
[CV 1/5; 17/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.7;, score=-4401.662 total time=   5.2s
[CV 2/5; 17/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.7
[CV 2/5; 17/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.7;, score=-4401.067 total time=   5.2s
[CV 3/5; 17/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.7
[CV 3/5; 17/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.7;, score=-4272.443 total time=   5.2s
[CV 4/5; 17/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.7
[CV 4/5; 17/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.7;, score=-4441.201 total time=   5.2s
[CV 5/5; 17/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.7
[CV 5/5; 17/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.7;, score=-4134.408 total time=   5.2s
[CV 1/5; 18/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.8
[CV 1/5; 18/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.8;, score=-4357.129 total time=   5.3s
[CV 2/5; 18/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.8
[CV 2/5; 18/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.8;, score=-4391.828 total time=   5.3s
[CV 3/5; 18/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.8
[CV 3/5; 18/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.8;, score=-4275.757 total time=   5.3s
[CV 4/5; 18/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.8
[CV 4/5; 18/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.8;, score=-4382.418 total time=   5.2s
[CV 5/5; 18/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.8
[CV 5/5; 18/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=500, subsample=0.8;, score=-4061.644 total time=   5.4s
[CV 1/5; 19/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.7
[CV 1/5; 19/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.7;, score=-4426.669 total time=  11.6s
[CV 2/5; 19/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.7
[CV 2/5; 19/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.7;, score=-4410.014 total time=  10.4s
[CV 3/5; 19/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.7
[CV 3/5; 19/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.7;, score=-4295.367 total time=  10.4s
[CV 4/5; 19/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.7
[CV 4/5; 19/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.7;, score=-4502.820 total time=  10.8s
[CV 5/5; 19/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.7
[CV 5/5; 19/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.7;, score=-4182.906 total time=  10.6s
[CV 1/5; 20/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.8
[CV 1/5; 20/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.8;, score=-4375.444 total time=  10.6s
[CV 2/5; 20/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.8
[CV 2/5; 20/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.8;, score=-4389.689 total time=  10.9s
[CV 3/5; 20/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.8
[CV 3/5; 20/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.8;, score=-4300.457 total time=  10.7s
[CV 4/5; 20/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.8

[CV 4/5; 20/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.8;, score=-4412.359 total time=  11.0s
[CV 5/5; 20/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.8
[CV 5/5; 20/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=8, n_estimators=1000, subsample=0.8;, score=-4104.131 total time=  13.7s
[CV 1/5; 21/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.7
[CV 1/5; 21/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.7;, score=-4443.928 total time=   9.9s
[CV 2/5; 21/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.7
[CV 2/5; 21/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.7;, score=-4482.584 total time=  12.8s
[CV 3/5; 21/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.7
[CV 3/5; 21/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.7;, score=-4433.826 total time=   8.5s
[CV 4/5; 21/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.7
[CV 4/5; 21/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.7;, score=-4464.536 total time=   8.5s
[CV 5/5; 21/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.7
[CV 5/5; 21/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.7;, score=-4175.469 total time=   8.8s
[CV 1/5; 22/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.8
[CV 1/5; 22/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.8;, score=-4437.608 total time=   8.6s
[CV 2/5; 22/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.8
[CV 2/5; 22/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.8;, score=-4527.137 total time=   8.9s
[CV 3/5; 22/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.8
[CV 3/5; 22/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.8;, score=-4426.741 total time=   8.5s
[CV 4/5; 22/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.8
[CV 4/5; 22/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.8;, score=-4483.469 total time=   8.7s
[CV 5/5; 22/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.8
[CV 5/5; 22/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=500, subsample=0.8;, score=-4143.146 total time=   8.5s
[CV 1/5; 23/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.7
[CV 1/5; 23/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.7;, score=-4495.406 total time=  16.9s
[CV 2/5; 23/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.7
[CV 2/5; 23/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.7;, score=-4511.850 total time=  17.1s
[CV 3/5; 23/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.7
[CV 3/5; 23/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.7;, score=-4479.420 total time=  17.9s
[CV 4/5; 23/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.7
[CV 4/5; 23/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.7;, score=-4498.239 total time=  16.8s
[CV 5/5; 23/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.7
[CV 5/5; 23/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.7;, score=-4222.418 total time=  16.9s
[CV 1/5; 24/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.8
[CV 1/5; 24/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.8;, score=-4494.706 total time=  20.1s
[CV 2/5; 24/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.8
[CV 2/5; 24/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.8;, score=-4559.271 total time=  17.4s
[CV 3/5; 24/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.8
[CV 3/5; 24/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.8;, score=-4466.578 total time=  17.2s
[CV 4/5; 24/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.8
[CV 4/5; 24/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.8;, score=-4536.764 total time=  17.7s
[CV 5/5; 24/32] START colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.8
[CV 5/5; 24/32] END colsample_bytree=0.8, learning_rate=0.05, max_depth=12, n_estimators=1000, subsample=0.8;, score=-4186.940 total time=  17.4s
[CV 1/5; 25/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.7
[CV 1/5; 25/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.7;, score=-4422.383 total time=   5.3s
[CV 2/5; 25/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.7
[CV 2/5; 25/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.7;, score=-4491.604 total time=   5.2s
[CV 3/5; 25/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.7
[CV 3/5; 25/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.7;, score=-4431.425 total time=   5.2s
[CV 4/5; 25/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.7
[CV 4/5; 25/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.7;, score=-4567.314 total time=   5.3s
[CV 5/5; 25/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.7
[CV 5/5; 25/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.7;, score=-4214.321 total time=   5.2s
[CV 1/5; 26/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.8
[CV 1/5; 26/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.8;, score=-4460.402 total time=   5.4s
[CV 2/5; 26/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.8
[CV 2/5; 26/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.8;, score=-4436.321 total time=   5.4s
[CV 3/5; 26/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.8
[CV 3/5; 26/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.8;, score=-4326.535 total time=   5.3s
[CV 4/5; 26/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.8
[CV 4/5; 26/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.8;, score=-4509.469 total time=   5.3s
[CV 5/5; 26/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.8
[CV 5/5; 26/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=500, subsample=0.8;, score=-4122.820 total time=   5.3s
[CV 1/5; 27/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.7
[CV 1/5; 27/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.7;, score=-4503.600 total time=  10.4s
[CV 2/5; 27/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.7

[CV 2/5; 27/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.7;, score=-4555.667 total time=  10.8s
[CV 3/5; 27/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.7
[CV 3/5; 27/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.7;, score=-4506.718 total time=  10.4s
[CV 4/5; 27/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.7
[CV 4/5; 27/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.7;, score=-4625.352 total time=  10.5s
[CV 5/5; 27/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.7
[CV 5/5; 27/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.7;, score=-4281.536 total time=  10.4s
[CV 1/5; 28/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.8
[CV 1/5; 28/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.8;, score=-4501.811 total time=  10.7s
[CV 2/5; 28/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.8
[CV 2/5; 28/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.8;, score=-4509.748 total time=  10.7s
[CV 3/5; 28/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.8
[CV 3/5; 28/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.8;, score=-4406.578 total time=  10.6s
[CV 4/5; 28/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.8
[CV 4/5; 28/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.8;, score=-4567.503 total time=  10.6s
[CV 5/5; 28/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.8
[CV 5/5; 28/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=8, n_estimators=1000, subsample=0.8;, score=-4177.431 total time=  10.7s
[CV 1/5; 29/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.7
[CV 1/5; 29/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.7;, score=-4597.475 total time=   8.4s
[CV 2/5; 29/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.7
[CV 2/5; 29/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.7;, score=-4693.120 total time=   8.3s
[CV 3/5; 29/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.7
[CV 3/5; 29/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.7;, score=-4642.752 total time=   8.3s
[CV 4/5; 29/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.7
[CV 4/5; 29/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.7;, score=-4701.823 total time=   8.3s
[CV 5/5; 29/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.7
[CV 5/5; 29/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.7;, score=-4301.576 total time=   8.4s
[CV 1/5; 30/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.8
[CV 1/5; 30/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.8;, score=-4575.810 total time=   8.6s
[CV 2/5; 30/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.8
[CV 2/5; 30/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.8;, score=-4653.547 total time=   8.6s
[CV 3/5; 30/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.8
[CV 3/5; 30/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.8;, score=-4600.324 total time=   8.5s
[CV 4/5; 30/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.8
[CV 4/5; 30/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.8;, score=-4693.573 total time=   8.5s
[CV 5/5; 30/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.8
[CV 5/5; 30/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=500, subsample=0.8;, score=-4257.955 total time=   8.5s
[CV 1/5; 31/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.7
[CV 1/5; 31/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.7;, score=-4710.650 total time=  16.7s
[CV 2/5; 31/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.7
[CV 2/5; 31/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.7;, score=-4744.823 total time=  16.7s
[CV 3/5; 31/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.7
[CV 3/5; 31/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.7;, score=-4754.962 total time=  16.5s
[CV 4/5; 31/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.7
[CV 4/5; 31/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.7;, score=-4784.094 total time=  16.6s
[CV 5/5; 31/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.7
[CV 5/5; 31/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.7;, score=-4369.929 total time=  16.7s
[CV 1/5; 32/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.8
[CV 1/5; 32/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.8;, score=-4648.258 total time=  17.2s
[CV 2/5; 32/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.8
[CV 2/5; 32/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.8;, score=-4724.282 total time=  17.1s
[CV 3/5; 32/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.8
[CV 3/5; 32/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.8;, score=-4691.685 total time=  16.9s
[CV 4/5; 32/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.8
[CV 4/5; 32/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.8;, score=-4771.932 total time=  17.1s
[CV 5/5; 32/32] START colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.8
[CV 5/5; 32/32] END colsample_bytree=0.8, learning_rate=0.1, max_depth=12, n_estimators=1000, subsample=0.8;, score=-4313.431 total time=  17.1s
Best parameters: {'colsample_bytree': 0.8, 'learning_rate': 0.05, 'max_depth': 8, 'n_estimators': 500, 'subsample': 0.8}
Lowest MAE:  65.5267514943407

In [153]:
model = xgboost.XGBRegressor(n_estimators=500, max_depth=8, eta=0.05, subsample=0.8, colsample_bytree=0.8)

In [154]:
model.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=0.8,
             early_stopping_rounds=None, enable_categorical=False, eta=0.05,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.0500000007, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=8, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=500, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0, ...)

In [155]:
model.score(X_train,y_train)

0.9750034392949705

In [156]:
model.score(X_valid,y_valid)

0.7869135768641833

In [157]:
mean_absolute_error(y_valid,model.predict(X_valid))

4036.2352027269308

In [158]:
predict_precentage_diff=abs(y_valid-model.predict(X_valid))/y_valid*100

In [159]:
show_dic={}
show_dic["0-20% diff"]=0
show_dic["20-40% diff"]=0
show_dic["40-60% diff"]=0
show_dic["60-80% diff"]=0
show_dic["80-100% diff"]=0
show_dic["more than 100% diff"]=0

In [160]:
for i in np.array(predict_precentage_diff):
    if i >=0 and i<=20:
        show_dic["0-20% diff"]+=1
    elif i >=20 and i<=40:
        show_dic["20-40% diff"]+=1
    elif i >=40 and i<=60:
        show_dic["40-60% diff"]+=1
    elif i >=60 and i<=80:
        show_dic["60-80% diff"]+=1
    elif i >=80 and i<=100:
        show_dic["80-100% diff"]+=1
    else:
        show_dic["more than 100% diff"]+=1

In [161]:
show_dic

{'0-20% diff': 9033,
 '20-40% diff': 1961,
 '40-60% diff': 496,
 '60-80% diff': 169,
 '80-100% diff': 65,
 'more than 100% diff': 211}

In [162]:
show_dic["0-20% diff"]/len(show_df["predict_precentage_diff"])

0.7568496020108924