In [2]:
import json
import pandas as pd
import numpy as np
import plotly

In [26]:
import tqdm

In [19]:
json_file_path = "./raw_dataset/data1.json"
json_file_path2 = "./raw_dataset/data2.json"
json_file_path3 = "./raw_dataset/data3.json"
json_file_path4 = "./raw_dataset/data4.json"

In [20]:
with open(json_file_path, 'r') as j:
    contents = json.loads(j.read())
with open(json_file_path2, 'r') as j:
    contents2 = json.loads(j.read())
with open(json_file_path3, 'r') as j:
    contents3 = json.loads(j.read())
with open(json_file_path4, 'r') as j:
    contents4 = json.loads(j.read())

In [53]:
content = contents[:25000]+contents2+contents3+contents4

In [54]:
len(content)

100000

In [56]:
for i in range(len(content)):
    content[i] = json.loads(content[i])

In [57]:
content=[i for i in content if "message" not in i.keys()]

In [58]:
len(content)

99939

In [60]:
for i in range(len(content)):
    content[i]["metadata"] = json.loads(content[i]["metadata"])

In [61]:
content[0]

{'token_address': '0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258',
 'token_id': '0',
 'amount': '1',
 'owner_of': '0xf7801b8115f3fe46ac55f8c0fdb5243726bdb66a',
 'token_hash': 'e64f9898044a4a1111e2eda769adcd96',
 'block_number_minted': '14692463',
 'block_number': '14692463',
 'transfer_index': [14692463, 125, 165, 0],
 'contract_type': 'ERC721',
 'name': 'Otherdeed',
 'symbol': 'OTHR',
 'token_uri': 'https://api.otherside.xyz/lands/0',
 'metadata': {'attributes': [{'trait_type': 'Category', 'value': 'Spirit'},
   {'trait_type': 'Sediment', 'value': 'Biogenic Swamp'},
   {'trait_type': 'Sediment Tier', 'value': 1, 'display_type': 'number'},
   {'trait_type': 'Environment', 'value': 'Steppes'},
   {'trait_type': 'Environment Tier', 'value': 4, 'display_type': 'number'},
   {'trait_type': 'Eastern Resource', 'value': 'Whisper'},
   {'trait_type': 'Eastern Resource Tier',
    'value': 3,
    'display_type': 'number'},
   {'trait_type': 'Southern Resource', 'value': 'Lumileaf'},
   {'trait_type': 'Southern Resource Tier',
    'value': 3,
    'display_type': 'number'},
   {'trait_type': 'Northern Resource', 'value': 'Moldium'},
   {'trait_type': 'Northern Resource Tier',
    'value': 1,
    'display_type': 'number'},
   {'trait_type': 'Koda', 'value': 9068},
   {'trait_type': 'Plot', 'value': 0, 'display_type': 'number'},
   {'trait_type': 'Obelisk Piece', 'value': 'First Trip'}],
  'image': 'https://assets.otherside.xyz/otherdeeds/98de818747a85008c5b88b7125763067d9106ebc295296ee5a3c3f31e3527d29.jpg'},
 'last_token_uri_sync': '2022-09-14T09:50:21.458Z',
 'last_metadata_sync': '2022-09-14T09:50:21.744Z'}

In [80]:
attributes_list=[]
for i in content:
    for j in i["metadata"]["attributes"]:
        attributes_list.append(j["trait_type"])

In [81]:
len(attributes_list)

1011433

In [82]:
attributes_list=list(np.unique(attributes_list))

In [83]:
attributes_list

['Artifact',
 'Category',
 'Eastern Resource',
 'Eastern Resource Tier',
 'Environment',
 'Environment Tier',
 'Koda',
 'Northern Resource',
 'Northern Resource Tier',
 'Obelisk Piece',
 'Plot',
 'Sediment',
 'Sediment Tier',
 'Southern Resource',
 'Southern Resource Tier',
 'Western Resource',
 'Western Resource Tier']

In [78]:
dfItem = pd.DataFrame.from_records(content)

In [84]:
dfItem=dfItem.set_index("token_id")

In [85]:
dfItem

,token_address,amount,owner_of,token_hash,block_number_minted,block_number,transfer_index,contract_type,name,symbol,token_uri,metadata,last_token_uri_sync,last_metadata_sync
token_id,,,,,,,,,,,,,,
0,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xf7801b8115f3fe46ac55f8c0fdb5243726bdb66a,e64f9898044a4a1111e2eda769adcd96,14692463,14692463,"[14692463, 125, 165, 0]",ERC721,Otherdeed,OTHR,https://api.otherside.xyz/lands/0,"{'attributes': [{'trait_type': 'Category', 'va...",2022-09-14T09:50:21.458Z,2022-09-14T09:50:21.744Z
1,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x46efbaedc92067e6d60e84ed6395099723252496,8350fb9c2b0adea96bf929d1255e6fcf,14694414,14694414,"[14694414, 43, 76, 0]",ERC721,Otherdeed,OTHR,https://api.otherside.xyz/lands/1,"{'attributes': [{'trait_type': 'Category', 'va...",2022-08-17T07:58:14.817Z,2022-08-17T07:58:16.385Z
2,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xc5c7b46843014b1591e9af24de797156cde67f08,44f52b4884b50788e198fea18ada4d94,14694565,14694565,"[14694565, 191, 196, 0]",ERC721,Otherdeed,OTHR,https://api.otherside.xyz/lands/2,"{'attributes': [{'trait_type': 'Category', 'va...",2022-08-17T08:02:48.533Z,2022-08-17T08:02:50.675Z
3,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x03546b22bc80b3e6b64c4445963d981250267a68,bcb9b0d100b4d1f9f23223ac9402227e,14694416,14694416,"[14694416, 134, 241, 0]",ERC721,Otherdeed,OTHR,https://api.otherside.xyz/lands/3,"{'attributes': [{'trait_type': 'Category', 'va...",2022-08-17T07:54:28.486Z,2022-08-17T07:54:33.617Z
4,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x33569c101562e1faf5b24581057e5cee4c8288d7,fbeb786f4e1935adf2da5d097ab68fb1,14690047,14690047,"[14690047, 67, 114, 0]",ERC721,Otherdeed,OTHR,https://api.otherside.xyz/lands/4,"{'attributes': [{'trait_type': 'Category', 'va...",2022-08-17T07:52:49.643Z,2022-08-17T07:52:51.093Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x4b294dac43aa2af57fb29df51fc64a61343901db,0d37969a9a71cdcd13457a4e8817badc,14689597,14694995,"[14694995, 64, 102, 0]",ERC721,Otherdeed,OTHR,https://api.otherside.xyz/lands/99995,"{'attributes': [{'trait_type': 'Category', 'va...",2022-08-17T07:52:00.682Z,2022-08-17T07:52:02.015Z
99996,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x0359a50c85b6d0ad57a5b1f375f35f59334963ec,7dd3b3c3e0e2e9ff5d412fe85d2ad7d9,14689597,15128464,"[15128464, 135, 146, 0]",ERC721,Otherdeed,OTHR,https://api.otherside.xyz/lands/99996,"{'attributes': [{'trait_type': 'Category', 'va...",2022-08-17T07:52:30.246Z,2022-08-17T07:52:32.060Z
99997,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xbf9adbe0fa9638081c450cbd5d2f219db1bad562,e08e52f2b3681863f1175afb4377ee3e,14689597,14689597,"[14689597, 37, 123, 0]",ERC721,Otherdeed,OTHR,https://api.otherside.xyz/lands/99997,"{'attributes': [{'trait_type': 'Category', 'va...",2022-08-17T07:52:30.256Z,2022-08-17T07:52:32.142Z
99998,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x0075601db47c244cf3a3cda72f64a0e3fe12dd12,7ae423f06e0db599a063df28c9de2cfd,14689597,14689919,"[14689919, 323, 248, 0]",ERC721,Otherdeed,OTHR,https://api.otherside.xyz/lands/99998,"{'attributes': [{'trait_type': 'Category', 'va...",2022-08-17T07:51:36.955Z,2022-08-17T07:51:38.257Z
99999,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x97a97445090044357ebcae34e08d3dd7f1e44bdc,000024d59062ef2e61bd1662ee7ffcbc,14689597,14696090,"[14696090, 208, 251, 0]",ERC721,Otherdeed,OTHR,https://api.otherside.xyz/lands/99999,"{'attributes': [{'trait_type': 'Category', 'va...",2022-08-17T08:03:37.049Z,2022-08-17T08:03:38.746Z

In [95]:
attribute_dic={}
for i in attributes_list:
    attribute_dic[i]=[]

In [91]:
nft_metadata_lst=[]
for _,j in dfItem.iterrows():
    temp_list=j["metadata"]["attributes"]
    temp_dic={}
    for i in temp_list:
        temp_dic[i["trait_type"]]=i["value"]
    nft_metadata_lst.append(temp_dic)

In [93]:
len(nft_metadata_lst)

99939

In [96]:
for i in nft_metadata_lst:
    for j in attribute_dic.keys():
        try:
            attribute_dic[j].append(i[j])
        except:
            attribute_dic[j].append(None)

In [101]:
for i in attribute_dic.keys():
    dfItem[i]=attribute_dic[i]

In [102]:
dfItem

,token_address,amount,owner_of,token_hash,block_number_minted,block_number,transfer_index,contract_type,name,symbol,...,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier
token_id,,,,,,,,,,,,,,,,,,,,,
0,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xf7801b8115f3fe46ac55f8c0fdb5243726bdb66a,e64f9898044a4a1111e2eda769adcd96,14692463,14692463,"[14692463, 125, 165, 0]",ERC721,Otherdeed,OTHR,...,Moldium,1.0,First Trip,0,Biogenic Swamp,1,Lumileaf,3.0,None,NaN
1,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x46efbaedc92067e6d60e84ed6395099723252496,8350fb9c2b0adea96bf929d1255e6fcf,14694414,14694414,"[14694414, 43, 76, 0]",ERC721,Otherdeed,OTHR,...,Abyssia,3.0,None,1,Biogenic Swamp,2,None,NaN,Brimstone,3.0
2,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xc5c7b46843014b1591e9af24de797156cde67f08,44f52b4884b50788e198fea18ada4d94,14694565,14694565,"[14694565, 191, 196, 0]",ERC721,Otherdeed,OTHR,...,Lumileaf,2.0,First Trip,2,Biogenic Swamp,3,Runa,1.0,Luster,1.0
3,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x03546b22bc80b3e6b64c4445963d981250267a68,bcb9b0d100b4d1f9f23223ac9402227e,14694416,14694416,"[14694416, 134, 241, 0]",ERC721,Otherdeed,OTHR,...,None,NaN,First Trip,3,Biogenic Swamp,2,Whisper,3.0,None,NaN
4,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x33569c101562e1faf5b24581057e5cee4c8288d7,fbeb786f4e1935adf2da5d097ab68fb1,14690047,14690047,"[14690047, 67, 114, 0]",ERC721,Otherdeed,OTHR,...,Moldium,3.0,None,4,Biogenic Swamp,3,None,NaN,Lunarian,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x4b294dac43aa2af57fb29df51fc64a61343901db,0d37969a9a71cdcd13457a4e8817badc,14689597,14694995,"[14694995, 64, 102, 0]",ERC721,Otherdeed,OTHR,...,None,NaN,First Trip,99995,Cosmic Dream,1,Runa,2.0,Gloomia,1.0
99996,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x0359a50c85b6d0ad57a5b1f375f35f59334963ec,7dd3b3c3e0e2e9ff5d412fe85d2ad7d9,14689597,15128464,"[15128464, 135, 146, 0]",ERC721,Otherdeed,OTHR,...,None,NaN,None,99996,Cosmic Dream,1,Lunarian,3.0,Steppesalt,2.0
99997,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xbf9adbe0fa9638081c450cbd5d2f219db1bad562,e08e52f2b3681863f1175afb4377ee3e,14689597,14689597,"[14689597, 37, 123, 0]",ERC721,Otherdeed,OTHR,...,Lumileaf,1.0,None,99997,Cosmic Dream,1,Runa,3.0,Bonestone,1.0
99998,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x0075601db47c244cf3a3cda72f64a0e3fe12dd12,7ae423f06e0db599a063df28c9de2cfd,14689597,14689919,"[14689919, 323, 248, 0]",ERC721,Otherdeed,OTHR,...,None,NaN,None,99998,Cosmic Dream,1,None,NaN,Lunarian,3.0
99999,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x97a97445090044357ebcae34e08d3dd7f1e44bdc,000024d59062ef2e61bd1662ee7ffcbc,14689597,14696090,"[14696090, 208, 251, 0]",ERC721,Otherdeed,OTHR,...,Oblivion,1.0,First Trip,99999,Cosmic Dream,1,None,NaN,None,NaN

In [119]:
dfItem.iloc[0:20000].to_csv("./preprocessed_dataset/ntf_df1.csv",index=False)
dfItem.iloc[20000:40000].to_csv("./preprocessed_dataset/ntf_df2.csv",index=False)
dfItem.iloc[40000:60000].to_csv("./preprocessed_dataset/ntf_df3.csv",index=False)
dfItem.iloc[60000:80000].to_csv("./preprocessed_dataset/ntf_df4.csv",index=False)
dfItem.iloc[80000:99939].to_csv("./preprocessed_dataset/ntf_df5.csv",index=False)

In [162]:
json_file_path = "./raw_dataset/trades.json"
with open(json_file_path, 'r') as j:
    contents = json.loads(j.read())

In [163]:
contents=contents["result"]

In [164]:
dfTrade = pd.DataFrame.from_records(contents)

In [165]:
dfTrade["token_ids"]=[str(i)[2:-2] for i in dfTrade["token_ids"]]

In [180]:
dfTrade["price"]=dfTrade["price"].astype("double")

In [181]:
dfTrade["price"]=dfTrade["price"]/(10**18)

In [182]:
dfTrade

,transaction_hash,transaction_index,token_ids,seller_address,buyer_address,token_address,marketplace_address,price,price_token_address,block_timestamp,block_number,block_hash
0,0xd7697254e0c81b5495d33eb97f6df0b7712bed9f7240...,30,23446,0x638b1350920333d23a7a7472c00aa5c38c278b90,0xc4bc1da519e0e159b8c31bfbece55295f42b0df9,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,2.000000,None,2022-09-17T00:44:35.000Z,15549817,0x170e4dd80b70bed43cce9b7ed879a97c7bf51567c6cc...
1,0x79ce5fd00f68d7c01e968330b4fd1d18d4dab63da449...,354,11227,0xd1878576c6cb7003a8225ee62785532f3bef5a88,0xf98188ad7b9e0857d4371e779ddcc7a27452315d,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,1.950000,None,2022-09-17T00:17:23.000Z,15549682,0xd413884112774db0e2f00f0e0f462bce96b2f539a3b3...
2,0xabb72bd4249774447e677da19798c7b9535dbb47468d...,81,79897,0x03c56c40e8b2bfe2ae29d71fc85b19cb386bfd66,0xc6cf5a020bcfc65c6f8181c04cbb5ef5050fe28e,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,1.752358,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,2022-09-16T23:53:35.000Z,15549564,0x17039798f1ce8a8c058369cee5d4043cae926db11e45...
3,0xd68434292eeb51fbcaaa5a7f123677b3e6c1860fa245...,191,17507,0x129551cf72217561d02679c0ad7a9810d525b605,0x93071db50d028e62fcf5f571bb5357160252eb7f,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,2.600000,None,2022-09-16T22:50:47.000Z,15549253,0xaf15117c21f957e4fbe4a03196e3bb1067e1ca3b73f0...
4,0x87a6553ee70906dca7b4099d74476a65201015c3d187...,23,90456,0x57930eb8c9cc22e7939517354e61255fcd90727e,0x687f66b8f25634838e5dfcaa2e14f8b8cac485ba,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,12.000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,2022-09-16T22:27:47.000Z,15549140,0xf8eda60ce943dc05ec644b4cdcf4370c51024d76d9d9...
...,...,...,...,...,...,...,...,...,...,...,...,...
41987,0x4d6800bc7247754b3f71324c7631ec7065bfcdae2188...,35,49495,0x484f2bfe6ea59d667fd5cb29ed259329180d0507,0x003c4209f5b9c18e926b4725d0c2c95c91e6a6c9,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.000000,None,2022-05-01T01:14:58.000Z,14688939,0xafccfed5708df97338fa4c9d8f5c86191b2280f17fb2...
41988,0x18d5d225fa2164ec1b413f9e4771ef2ce2058c03c708...,19,51155,0x94f68749be6c2e1de2a7d2bb0cf6d1d93269f035,0x5021052790184abfe9a618c0578fead636879478,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.000000,None,2022-05-01T01:14:58.000Z,14688939,0xafccfed5708df97338fa4c9d8f5c86191b2280f17fb2...
41989,0x1104e053a73a7ec5639a3cbafeab9a29933fe35f8c41...,41,45735,0xc1980a8cf3b17788e71e542e6eec73930cfa2910,0x697da3c2e359cc940e8ff63453f8e68e2ff5ff90,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.340000,None,2022-05-01T01:14:47.000Z,14688938,0xd1435ddf526ccd2ea001a9ebfdc1dd45501bad9e3e37...
41990,0x9310dd9850a933182519bbc8dcc67635be78b0567ada...,30,50763,0x889e9a0a6378bdfd45c2999d2026f8d03cded448,0xdfdba601d5d6a17fb0017ecaa531b2b4ca3d2c5d,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.500000,None,2022-05-01T01:14:47.000Z,14688938,0xd1435ddf526ccd2ea001a9ebfdc1dd45501bad9e3e37...
41991,0xea3424e625db10490e416dfa92411111685061281069...,24,46903,0x0121bdcefb6affb590c90adf4cb7b0a88213d49a,0x995db04afea09f1051b46678ffd886cc3f00b2d6,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,9.000000,None,2022-05-01T01:14:36.000Z,14688935,0xec413770169d810d0d5417cbc7bd35a395d514dd48fc...

In [183]:
dfTrade.to_csv("./preprocessed_dataset/trade_df.csv",index=False)

In [188]:
dfTrade.iloc[10000]

transaction_hash       0xd1fce94e6a572e302e35643d899fe39a79ef3d5b7398...
transaction_index                                                     66
token_ids                                                          51728
seller_address                0x8e2c17fe2a6be854ee946f2419a66a8e46283d05
buyer_address                 0x2334fd2c0010fb428724e31d8cfb0de030b3045c
token_address                 0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258
marketplace_address           0x7f268357a8c2552623316e2562d90e642bb538e5
price                                                               17.0
price_token_address           0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2
block_timestamp                                 2022-05-27T21:53:45.000Z
block_number                                                    14856569
block_hash             0xd12ea110b7287f9ea19f0ab0fbc8f483cb2157c3ee8d...
Name: 10000, dtype: object

Need to find a way to calculate the usd price of each trade, since price is marked in different currencies at that trade time.